<template>
<div class="content">
    <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/flBSPQG.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<ul>
   <li><strong><a href="https://github.com/ItIsMeCall911/Course-Piracy-Index">Course Piracy Index</a></strong> - <em>Course Piracy Site / Tool Index</em></li>
</ul>
<hr>
<h1 id="-streaming">► Streaming</h1>
<h2 id="-courses">▷ Courses</h2>
<ul>
   <li><strong><a href="https://www.coursera.org/">Coursera</a></strong> - <em>Courses</em></li>
   <li><strong><a href="https://www.edx.org/">edX</a></strong> - <em>Courses</em></li>
   <li><strong><a href="https://www.futurelearn.com/">Future Learn</a></strong> - <em>Courses</em></li>
   <li><strong><a href="https://www.udacity.com/">Udacity</a></strong> - <em>Courses</em></li>
   <li><strong><a href="https://ocw.mit.edu/index.htm">MitOpenCourseWare</a></strong> - <em>Courses</em></li>
   <li><strong><a href="https://www.crunchlearn.com/">CrunchLearn</a></strong> - <em>Courses</em> </li>
   <li><strong><a href="https://www.khanacademy.org/">Khan Academy</a></strong> - <em>Courses / <a href="https://github.com/rand-net/khan-dl">Downloader</a></em></li>
   <li><strong><a href="https://git.ir/">Git.ir</a></strong> - <em>Courses</em></li>
   <li><strong><a href="https://visualstudio.microsoft.com/dev-essentials/">PluralSight</a></strong> - <em>Free for 1 Month</em></li>
   <li><a href="https://github.com/prakhar1989/awesome-courses/">Awesome CS</a> - <em>Courses</em></li>
   <li><a href="https://www.open.edu/openlearn/">OpenLearn</a> - <em>Courses</em></li>
   <li><a href="https://freecoursesforall.com/">FreeCourseForAll</a> - <em>Courses</em> </li>
   <li><a href="https://alison.com/">Alison</a> - <em>Courses</em></li>
   <li><a href="https://github.com/EbookFoundation/free-programming-books#free-online-courses">EbookFoundation Courses</a> - <em>Courses</em></li>
   <li><a href="https://certbyte.com/">CertByte</a> - <em>Courses</em> </li>
   <li><a href="https://www.openculture.com/freeonlinecourses">OpenCulture</a> - <em>Courses</em> </li>
   <li><a href="https://learndigital.withgoogle.com/digitalgarage/courses">DigitalGarage</a> - <em>Courses</em> </li>
   <li><a href="https://online.stanford.edu/lagunita-learning-platform">Lagunita</a> - <em>Courses</em> </li>
   <li><a href="https://online.hillsdale.edu/">Hillsdale College</a> - <em>Courses</em> </li>
   <li><a href="https://www.learnoutloud.com/">LearnOutLoud</a> - <em>Documentaries / Courses</em></li>
   <li><a href="https://www.classcentral.com/">Class Central</a> - <em>Search for Courses</em></li>
   <li><a href="https://cs1000.vercel.app/">cs1000</a> - <em>Educational Video Playlists</em> </li>
   <li>UC Berkeley Webcast project - <a href="https://archive.org/details/ucberkeley-webcast">Archive</a> or <a href="https://lbry.tv/@UCBerkeley:d?">lbry</a> - <em>Video Lectures</em></li>
   <li><a href="http://www.mathispower4u.com/">Mathispower4u</a> - <em>Math Tutorials</em></li>
   <li><a href="http://patrickjmt.com/">PatrickJMT</a> - <em>Math Tutorials</em></li>
   <li><a href="http://schoolyourself.org/">SchoolYourself</a> - <em>Math Tutorials</em></li>
   <li><a href="https://www.mathhelp.com/">mathhelp</a> - <em>Math Tutorials</em></li>
   <li><a href="http://mathonline.wikidot.com/">mathonline</a> - <em>Math Tutorials</em></li>
   <li><a href="https://www.brightstorm.com/">brighstorm</a> - <em>Test Prep</em></li>
   <li><a href="https://www.oreilly.com/">O&#39;Reilly</a> - <em>Tech / Programming / infinite free trial by clearing cookies / making new account</em></li>
   <li><a href="https://pad.ma/">pad.ma</a> - <em>Text-annotated Videos</em> </li>
   <li><a href="https://laconicml.com/computer-science-engineer-mit-university/">How to Become a Computer Science Engineer</a> - <em>Free Computer Science Lectures</em> </li>
   <li><a href="https://udemyfreecourses.org/">UdemyFreeCourses</a> - <em>Udemy Courses</em></li>
   <li><a href="https://tutsnode.net/">TutsNode</a> - <em>Udemy Courses</em></li>
   <li>/r/udemyfreebies - <em>Udemy Courses</em></li>
   <li><a href="https://github.com/techtanic/Discounted-Udemy-Course-Enroller">Discounted-Udemy-Course-Enroller</a> - <em>Automatically Enroll in Udemy Courses</em></li>
   <li><a href="https://nocourses.com/">Nocourses</a> - <em>Udemy Coupons / Courses</em> </li>
   <li><a href="https://comidoc.net/">Online Courses Tracker</a> - <em>Udemy Coupons / Courses</em></li>
   <li><a href="https://smartybro.com/">SmartyBro</a> - <em>Udemy Coupons / Courses</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_udemy_coupons">Udemy Coupons</a> - <em>Udemy Coupon Sites</em></li>
   <li><a href="https://github.com/keethesh/UdemyEnrollEverywhere">UdemyEnrollEverywhere</a> - <em>Auto-Grab Udemy Coupons</em></li>
   <li><a href="https://t.me/GUdemyBot">GUdemyBot</a> - <em>Udemy Coupon Bot</em> </li>
</ul>
<hr>
<h2 id="-documentaries">▷ Documentaries</h2>
<ul>
   <li><a href="https://www.learnoutloud.com/">LearnOutLoud</a></li>
   <li><a href="https://topdocumentaryfilms.com/">Top Documentary Films</a> </li>
   <li><a href="https://ihavenotv.com/">Ihavenotv</a> </li>
   <li><a href="https://documentary-streaming.com/">Documentary Streaming</a></li>
   <li><a href="https://mediaburn.org/">Media Burn Archive</a></li>
   <li><a href="https://documentaryheaven.com/">DocumentaryHeaven</a></li>
   <li><a href="https://www.documentarymania.com/">Documentary Mania</a> </li>
   <li><a href="https://thoughtmaybe.com/">ThoughtMaybe</a> </li>
   <li><a href="https://www.folkstreams.net/">Folkstreams</a> </li>
   <li><a href="https://www.filmsforaction.org/">Films For Action</a> </li>
   <li><a href="https://documentaryaddict.com/">Documentary Addict</a></li>
   <li>/r/Documentaries </li>
</ul>
<hr>
<h1 id="-downloading">► Downloading</h1>
<h2 id="-courses">▷ Courses</h2>
<ul>
   <li><strong><a href="https://freesoff.com/">freesoff</a></strong> - <em>Courses</em></li>
   <li><strong><a href="https://tutflix.com/">TutFlix</a></strong> - <em>Courses / Mega Host</em> </li>
   <li><a href="https://t.me/Iitjeeinveins2">Iit jee lectures</a> - <em>Lectures / Telegram</em>   </li>
   <li><a href="https://downloadly.ir/">downloadly</a> - <em>Courses</em></li>
   <li><a href="https://coursed.co/">Coursed</a> - <em>Courses</em></li>
   <li><a href="https://ttorial.com/">ttorial</a> - <em>Courses</em></li>
   <li><a href="https://onlinecoursebay.com/">OnlineCourseBay</a> - <em>Courses</em> </li>
   <li><a href="http://coursesdaddy.com/">CoursesDaddy</a> - <em>Courses</em> </li>
   <li><a href="https://coursedrive.org/">Course Drive</a> - <em>Courses</em> </li>
   <li><a href="https://www.freetutorials.ca/">freetutorials.ca</a> - <em>Courses</em></li>
   <li><a href="https://freecoursenow.com/">Course Now</a> - <em>Courses</em>   </li>
   <li><a href="https://online-courses.club/">online-courses</a> - <em>Courses</em></li>
   <li><a href="https://courseupload.com/">Course Upload</a> - <em>Courses</em> </li>
   <li><a href="https://coursesghar.com/">Coursesghar</a> - <em>Courses</em> </li>
   <li><a href="https://freeeducationweb.com/">FreeEducationWeb</a> - <em>Courses</em> </li>
   <li><a href="https://dlecourse.com/">DLECourse</a> - <em>Courses</em> </li>
   <li><a href="https://freecoursedl.com/">FreeCourseDL</a> - <em>Courses</em> </li>
   <li><a href="https://freestudyweb.com/">FreeStudyWeb</a> - <em>Courses</em> </li>
   <li><a href="https://www.cryptotips.us/">CryptoTips</a> - <em>Courses</em> </li>
   <li><a href="https://coursedown.com/">CourseDown</a> - <em>Courses</em> </li>
   <li><a href="https://www.5ggyan.com/">5G GYAN</a> - <em>Courses</em> </li>
   <li><a href="https://open-video.org/">Open-Video</a> - <em>Courses / Documentaries</em></li>
   <li><a href="https://t.me/joinchat/AAAAAEeZL9jF22ZREqka2g">FreeCourseLechz</a> - <em>Courses / Telegram</em> </li>
   <li><a href="https://t.me/CourseInDrive">CourseInDrive</a> - <em>Courses / Telegram</em> </li>
   <li><a href="https://t.me/free_open_source_knowledge">Free Open Source knowledge</a> - <em>Courses / Telegram</em> </li>
   <li><a href="https://t.me/DownloadLinksMaterials">Download Links Materials</a> - <em>Courses / Telegram</em></li>
   <li><a href="https://t.me/premiumcoursesfree">premiumcoursesfree</a> - <em>Courses / Telegram</em></li>
   <li><a href="https://t.me/Udemy_Courses_Free_Daily">Udemy_Courses_Free_Daily</a> - <em>Courses / Telegram</em></li>
   <li><a href="https://learningdl.net/">learningDL</a> - <em>Courses / Leech required</em> </li>
   <li><a href="https://freetutsdownload.net/">FreeTutsDownload.net</a> - <em>Courses / Tutorials</em> </li>
   <li><a href="https://freetutsdownload.com/">FreetutsDownload.com</a> - <em>Courses / GDrive Host</em> </li>
   <li><a href="https://mega.nz/folder/HxFghIbS#rFqH402PoVDwHW_XEtN1QQ">Masterclass 63 Pack</a> - <em>Masterclass Courses / Drive</em></li>
   <li><a href="https://bin.snopyta.org/?efe32fb96a945857#GQL7q4hyKjCeB6WLbpq94S12BEwh5JWc4apjmb7RE4SU">Lynda Courses</a> - <em>Lynda Courses / Drive / pw: fmhy</em></li>
   <li><a href="https://t.me/lyndafree">LyndaFree</a> - <em>Lynda Courses / Telegram</em></li>
   <li><a href="https://mega.nz/folder/7moVUSAK#cw5VVM-L4WmtwXE30in6nw">Gate Academy Courses</a> - <em>Gate Academy Courses / Drive</em></li>
   <li><a href="https://gigacourse.com/">Giga Course</a> - <em>Udemy Courses / Drive</em> </li>
   <li><a href="https://udemy24.com/">Udemy 24</a> - <em>Udemy courses</em> </li>
   <li><a href="http://freecourseweb.com/">FreeCourseWeb</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://udemycourses.me/">Udemycourses</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://freecourseudemy.com/">FreeCourseUdemy</a> - <em>Udemy Courses</em>  </li>
   <li><a href="https://www.ftuudemy.com/">FtuUdemy</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://courseforfree.com/">CourseForFree</a> - <em>Udemy Courses</em>  </li>
   <li><a href="https://piratewarez.com/">Pirate Warez</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://download.howtofree.org/">Download Online Tutorials Free</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://t.me/udemy_free_cource">Udemy Free Course</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://mega.nz/folder/vRhSiagQ#H_G_aUZNrbLE5fPtTjPoeQ/folder/TAhQRSqK">6.04 TB Paid [C]ourses</a> - <em>Marketing Courses / Drive</em></li>
   <li><a href="https://mega.nz/folder/eeIzlAjL#zGa0iHkQJu0JmP4BayAJ3A">hackingworld.best 1.3TB</a> - <em>Marketing Courses</em> </li>
   <li><a href="https://drive.google.com/drive/folders/1dE9oa-tK7fXziJLmg8O8ucpUhmqxYT4h">getwsodotte</a> - <em>Marketing Courses</em></li>
   <li><a href="https://drive.google.com/drive/folders/1q2sOBNU4lPBkwtF1Msl6uCACBV5TUGWD">Udemy - Cybersecurity Collection</a> - <em>Cyber Security Courses</em></li>
   <li><a href="https://mega.nz/folder/bUxVXB6T#Sk4IfPgjdCIDlF1THTXTKg">CHFI</a> - <em>Computer Hacking Forensic Courses</em></li>
   <li><a href="https://github.com/coursera-dl/coursera-dl">Coursera-dl</a> - <em>Download videos from Coursera</em> </li>
   <li><a href="https://i.imgur.com/AIENK0K.png">Skillshare DL Guide</a> - <em>Download videos from Skillshare</em></li>
   <li><a href="https://t.me/skillsharefree">skillsharefree</a> - <em>Skillshare Courses / Telegram</em> </li>
   <li><a href="https://github.com/r0oth3x49/udemy-dl">udemy-dl</a>, <a href="https://github.com/riazXrazor/udemy-dl">2</a>, <a href="https://github.com/FaisalUmair/udemy-downloader-gui">Udeler</a> or <a href="https://www.avdshare.com/udemy-downloader">avdshare</a> - <em>Download videos from Udemy</em></li>
   <li><a href="https://github.com/keethesh/UdemyCourseGrabber">UdemyCourseGrabber</a> - <em>Find Udemy Course Download Link</em></li>
   <li><a href="https://github.com/udacimak/udacimak">Udacimak</a> - <em>Udacity Nanodegree / Course Downloader</em></li>
</ul>
<h2 id="-documentaries">▷ Documentaries</h2>
<ul>
   <li><a href="https://documentary.su/">Documentary.su</a></li>
   <li><a href="https://docuwiki.net/">Docuwiki</a> - <em><a href="https://www.emule-project.net/">Emule required</a></em></li>
   <li><a href="https://open-video.org/">Open-Video</a></li>
</ul>
<hr>
<h1 id="-torrenting">► Torrenting</h1>
<h2 id="-courses">▷ Courses</h2>
<ul>
   <li><strong><a href="/apa">VPN Guide</a></strong> - <em>Get a VPN before torrenting</em></li>
   <li><a href="https://courseclub.me/">Course Club</a> - <em>Courses</em></li>
   <li><a href="http://freecoursesite.com/">FreeCourseSite</a> - <em>Courses</em></li>
   <li><a href="https://getfreecourses.co/">GetFreeCourses</a> - <em>Courses</em></li>
   <li><a href="https://tutsgalaxy.org/">TutsGalaxy</a> - <em>Courses</em></li>
   <li><a href="https://onlinecoursebay.com/">OnlineCourseBay</a> - <em>Courses</em> </li>
   <li><a href="https://web.thevaat.com/">TheVaat</a> -<em>Courses</em> </li>
   <li><a href="https://www.ahlanedu.com/">Ahlan Education</a> - <em>Courses</em> </li>
   <li><a href="https://udemytuts.com/">UdemyTuts</a> - <em>Udemy Courses</em> </li>
   <li><a href="http://myfreecourses.com/">My Free Courses</a> - <em>Udemy Courses</em>   </li>
   <li><a href="https://udemydownload.com/">UdemyDownload</a> - <em>Udemy Courses</em></li>
   <li><a href="https://paidcoursesforfree.com/">Paid Courses for Free </a> - <em>Udemy Courses</em> </li>
   <li><a href="https://www.onlinefreecourse.net/">Online Free Course</a> - <em>Udemy Courses</em>   </li>
   <li><a href="https://tutorialsplanet.net/">Tutorials Planet</a> - <em>Udemy Courses</em>   </li>
   <li><a href="https://gigacourse.com/">Giga Course</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://freeallcourse.com/">Free All Course</a> - <em>Udemy Courses</em> </li>
   <li><a href="http://freecoursestock.com/">FreeCourseStock</a> - <em>Udemy Courses</em> </li>
   <li><a href="https://pimpmymoney.net/">Pimp My Money</a> - <em>Digital Marketing Courses</em> </li>
</ul>
<h2 id="-documentaries">▷ Documentaries</h2>
<ul>
   <li><a href="https://www.videoneat.com/">Videoneat</a></li>
   <li><a href="https://forums.mvgroup.org/">MVGroup</a> </li>
</ul>
<hr>
<h1 id="-reading-https-www-reddit-com-r-freemediaheckyeah-wiki-reading-wiki_-25ba_educational_sites-">► <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading#wiki_.25BA_educational_sites">Reading</a></h1>
<hr>
<h2 id="-history-books-https-www-reddit-com-r-freemediaheckyeah-wiki-reading-wiki_-25b7_history_sites-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading#wiki_.25B7_history_sites">History Books</a></h2>
<hr>
<h2 id="-programming-books-https-www-reddit-com-r-freemediaheckyeah-wiki-reading-wiki_-25b7_programming_sites-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading#wiki_.25B7_programming_sites">Programming Books</a></h2>
<hr>
<h2 id="-documents-articles-https-www-reddit-com-r-freemediaheckyeah-wiki-reading-wiki_-25b7_documents_-2f_articles-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading#wiki_.25B7_documents_.2F_articles">Documents / Articles</a></h2>
<hr>
<h2 id="-manual-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-reading-wiki_-25b7_manual_sites-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading#wiki_.25B7_manual_sites">Manual Sites</a></h2>
<hr>
<h2 id="-reference-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-reading-wiki_-25b7_reference_sites-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading#wiki_.25B7_reference_sites">Reference Sites</a></h2>
<hr>
<h1 id="-games">► Games</h1>
<ul>
   <li><strong><a href="https://github.com/yrgo/awesome-educational-games">Awesome Educational Games</a></strong> - <em>Educational Games Index</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_typing_lessons">Typing Lessons &amp; Games</a></strong></li>
   <li><a href="https://www.starfall.com/">Starfall</a></li>
   <li><a href="https://www.abcya.com/">ABCya!</a></li>
   <li><a href="https://www.funbrain.com/games">Funbrain</a></li>
   <li><a href="https://prongo.com/">Prongo</a></li>
   <li><a href="https://www.roomrecess.com/">RoomRecess</a></li>
   <li><a href="https://www.turtlediary.com/">TurtleDiary</a></li>
   <li><a href="https://www.sheppardsoftware.com/web_games_menu.htm">SheppardSoftware</a></li>
   <li><a href="https://www.coolmathgames.com/">Cool Math Games</a> - <em>Math Games</em></li>
   <li><a href="https://www.mathgametime.com/">Math Game Time</a> - <em>Math Games</em></li>
   <li><a href="https://www.mathsisfun.com/games/index.html">Math is Fun</a> - <em>Math Games</em></li>
   <li><a href="https://www.hoodamath.com/">Hooda Math</a> - <em>Math Games</em></li>
   <li><a href="https://www.theproblemsite.com/">The Problem Site</a> - <em>Problems / Puzzles/ Games</em></li>
   <li><a href="http://www.vtaide.com/png/puzzles.htm">PuzzlaMaker</a> - <em>Educational Puzzles</em></li>
   <li><a href="https://www.icivics.org/games">iCivics</a> - <em>U.S. Law Learning Games</em></li>
</ul>
<hr>
<h1 id="-math">► Math</h1>
<ul>
   <li><strong><a href="https://github.com/rossant/awesome-math">Awesome Math</a></strong> or <a href="https://docs.google.com/document/d/1rtokzhpvkUPnymudl_ZVmfAA7H33VIyLQUpujNGwrTo/">Math Resources</a> - <em>Math Resource Index</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_interactive_math_sites">Interactive Math Sites</a></strong> - <em>List of interactive math sites</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_calculator_sites">Calculator Sites</a></strong> - <em>Sites with Multiple Calculators</em> </li>
   <li><strong><a href="https://math.microsoft.com/">Microsoft Math Solver</a></strong>, <a href="https://speedcrunch.org/">SpeedCrunch</a> or <a href="https://www.mathpapa.com/algebra-calculator.html">MathPapa</a> - <em>Advanced Calculator</em></li>
   <li><strong><a href="https://www.cymath.com/">Cymath</a></strong>, <a href="https://photomath.app/en/">PhotoMath</a>, <a href="https://www.mathway.com/">Mathway</a> or <a href="https://www.symbolab.com/">Symbolab</a> - <em>Math Problem Solver with Steps / <a href="https://pastebin.com/wA3QQkCj">Symbolab Pro</a></em></li>
   <li><a href="https://matrixcalc.org/en/">MatrixCalc</a> or <a href="https://simplx.dev/matrixop/">MatrixOP</a> - <em>Matrix Calculator</em></li>
   <li><a href="https://weboas.is/convert/">Weboasis Convert</a> - <em>Conversion Calculators</em></li>
   <li><a href="https://conversao.net/eng/">Unit Conversion</a>, <a href="https://www.unitconverters.net/">UnitConverters</a> or <a href="https://convertall.bellz.org/">ConvertAll</a> - <em>Unit Converter</em> </li>
   <li><a href="https://www.derivative-calculator.net/">Derivative Calculator</a> - <em>Derivative Calculator</em></li>
   <li><a href="https://www.integral-calculator.com/">Integral Calculator</a> - <em>Integral Calculator</em></li>
   <li><a href="https://www.desmos.com/">Desmos</a> - <em>Graphing Calculator</em> </li>
   <li><a href="https://www.fxsolver.com/">fxSolver</a> - <em>Engineering &amp; Scientific Calculator</em></li>
   <li><a href="https://onlinemathtools.com/">Online Math Tools</a> - <em>Multiple Math Tools</em></li>
   <li><a href="http://www.falstad.com/">Falstad</a> - <em>Math &amp; Physics Apps / Simulations</em> </li>
   <li><a href="https://au.ixl.com/math/">IXL Learning</a> - <em>Math Practice / Quizzes</em></li>
   <li><a href="http://math2.org/">Math2.org</a> - <em>Math Guides</em></li>
   <li><a href="https://www.mathsisfun.com/">Math is Fun</a> - <em>Math Tutorials / Puzzles / Games</em></li>
   <li><a href="https://projecteuler.net/">Project Euler</a> - <em>Math / Programming Problems</em></li>
   <li><a href="http://divisorplot.com/">Divisor Plot</a> - <em>Composite Number Pattern Visualization</em></li>
</ul>
<hr>
<h1 id="-space">► Space</h1>
<ul>
   <li>/r/Space - <em>Space Subreddit</em></li>
   <li><a href="https://spacedashboard.com/">Space Dashboard</a> - <em>Space Live Stream Dashboard</em> </li>
   <li><a href="https://iss-sim.spacex.com/">ISS Sim</a> - <em>ISS Docking Simulator</em> </li>
   <li><a href="https://apolloinrealtime.org/">Interactive Apollo Missions</a> or <a href="https://www.firstmenonthemoon.com/">FirstMenOnTheMoon</a> - <em>Apollo in Real Time</em> </li>
   <li><a href="https://moon.nasa.gov/">Moon.Nasa</a> - <em>Explore the Moon</em> </li>
   <li><a href="https://www.nationalgeographic.com/science/2019/07/the-atlas-of-moons/">The Atlas of Moons</a> - <em>Interactive Index of Moons</em> </li>
   <li><a href="https://www.helioviewer.org/">Helioviewer</a> - <em>Sun Visualization Tool</em> </li>
   <li><a href="https://www.joshworth.com/dev/pixelspace/pixelspace_solarsystem.html">1 Pixel moon</a> - <em>Solar System Scale Model</em></li>
   <li><a href="https://theskylive.com/3dsolarsystem">3DSolarSystem</a> - <em>Solar System Simulator</em> </li>
   <li><a href="https://stars.chromeexperiments.com/">100,000 Stars</a> - <em>Interactive 3D Star Visualization</em></li>
   <li><a href="https://stellarium-web.org/">Stellarium-Web</a> - <em>Online Stellarium</em></li>
   <li><a href="https://www.eso.org/public/images/eso1242a/zoomable/">ESO</a>, <a href="https://esahubble.org/images/heic1502a/zoomable/">Hubble</a>, <a href="https://esahubble.org/images/heic1901a/zoomable/">Hubble 2</a> - <em>Massive Zoomable Telescope Photos</em></li>
   <li><a href="http://spaceengine.org/">SpaceEngine</a> - <em>Universe Simulator</em></li>
</ul>
<hr>
<h1 id="-virtual-tours">► Virtual Tours</h1>
<ul>
   <li><a href="https://mcn.edu/a-guide-to-virtual-museum-resources/">Virtual Museum Resources</a> - <em>Online Learning Collections / Tours</em> </li>
   <li><a href="https://naturalhistory.si.edu/visit/virtual-tour">NaturalHistory</a> - <em>Natural History Museum Virtual Tour</em> </li>
   <li><a href="https://archeologie.culture.fr/chauvet/en/explore-cave/">Chauvet Cave</a> - <em>Chauvet-Pont-d&#39;Arc Cave Virtual Tour</em> </li>
   <li><a href="https://www.haraldjoergens.com/panoramas/spitfire-td314/files/">Spitfire Panorama</a> - <em>Spitfire Mark IX Cockpit Interactve Panorama</em> </li>
   <li><a href="https://my.matterport.com/show/?m=NeiMEZa9d93">Explore Pharaoh Ramesses VI Tomb</a> - <em>Pharaoh Ramesses VI Tomb Virtual Tour</em></li>
</ul>
<hr>
<h1 id="-development-https-www-reddit-com-r-freemediaheckyeah-wiki-dev-tools-wiki_-25ba_learning_-2f_cheatsheets-">► <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/dev-tools#wiki_.25BA_learning_.2F_cheatsheets">Development</a></h1>
<hr>
<h1 id="-language-learning">► Language Learning</h1>
<ul>
   <li><strong><a href="https://github.com/oyd11/awesome-lang">Awesome-Lang</a></strong> - <em>Language Learning Resource Index</em> </li>
   <li><strong><a href="https://mega.nz/folder/kQBXHKwA#-osWRLNCXAsd62ln8wKa8w">Languages and Linguistics</a></strong> - <em>Language Learning Books</em></li>
   <li><a href="https://www.lexilogos.com/english/index.htm">LexiLogos</a> - <em>Multi Language Dictionary Index</em></li>
   <li><a href="https://www.wordreference.com/">WordReference</a> or <a href="https://reverso.net/">Reverso</a> - <em>Translation Dictionary</em> </li>
   <li><a href="https://www.memrise.com/">Memrise</a>, <a href="https://www.busuu.com/en/">Busuu</a> or <a href="https://www.duolingo.com/">Duolingo</a> - <em>Language Learning Lessons</em> </li>
   <li><a href="https://fsi-languages.yojik.eu/index.html">Yojik</a> or <a href="https://www.esolcourses.com/">ESOL</a> - <em>Language Learning Courses</em></li>
   <li><a href="https://refold.la/roadmap">refold.la</a> - <em>Language Learning Guide</em> </li>
   <li><a href="http://www.learn-english-online.org/">Learn English Online</a>, <a href="https://www.oxfordonlineenglish.com/free-english-lessons">Oxford Online</a> or <a href="https://www.cambridgeenglish.org/learning-english/">Cambridge Online</a> - <em>Learn English</em></li>
   <li><a href="http://mylanguages.org/">MyLanguages</a> - <em>Grammar / Vocabulary Language Learning</em></li>
   <li><a href="https://esite.ch/vocatra/">Vocatra</a> - <em>Vocabulary Trainer</em></li>
   <li><a href="https://www.englishaccentsmap.com/">EnglishAccentMap</a> - <em>English Accent Videos / Map</em> </li>
   <li><a href="http://paralleltext.io/">paralleltext</a> - <em>Learn Languages by Reading Translated Books Parallel</em> </li>
   <li><a href="https://www.hellotalk.com/">HelloTalk</a> - <em>Learn Languages by Chatting to Native Speakers</em> </li>
   <li><a href="https://lang-8.com/">Lang-8</a> - <em>Learn Languages with help from Native Speakers</em> </li>
   <li><a href="https://readlang.com/">Readlang</a> - <em>Learn a Language While Web Browsing</em> </li>
   <li><a href="https://polyglotclub.com/">Polyglot</a> - <em>Offline Language Exchange</em> </li>
   <li><a href="https://animelon.com/">AnimeLon</a> - <em>Streaming / Anime / Learn Japanese</em></li>
   <li><a href="https://marshallyin.com/">Marshall&#39;s Site</a> - <em>Learn Japanese</em> </li>
   <li><a href="https://nihongonosensei.net/">Daily leisurely Japanese teacher</a> - <em>Japanese Practice Material</em></li>
   <li><a href="http://www.gavo.t.u-tokyo.ac.jp/ojad/eng/pages/home">OJAD</a> - <em>Japanese Accent Dictionary</em> </li>
   <li><a href="https://getkana.com/app/">GetKanda</a> - <em>Learn Kana</em> </li>
   <li><a href="https://www.wanikani.com/">WaniKani</a> - <em>Learn Kanji</em></li>
   <li><a href="https://readkoreanletters.com/">Read Korean Letters</a> - <em>Learn Korean Characters</em> </li>
   <li><a href="https://drive.google.com/drive/u/0/mobile/folders/152oeHQoeqvC9RVMk6kJi1irAlSSp7NVk?usp=sharing">Mandarin Chinese</a> - <em>Mandarin Chinese Learning Books</em></li>
   <li><a href="https://youglish.com/">youglish</a> - <em>Youtube Word Pronunciations</em> </li>
   <li><a href="https://t.me/ASLresources">ASL Resources</a> - <em>American Sign Language Resources / Telegram</em> </li>
   <li><a href="https://www.signasl.org/">ASL Dictionary</a> or <a href="https://www.handspeak.com/">HandSpeak</a> - <em>American Sign Language</em> </li>
   <li><a href="https://ankiweb.net/shared/info/1502698119">Learn BSL in SignWriting</a>  </li>
   <li><a href="https://www.signbsl.com/">BSL Dictionary</a> - <em>British Sign Language</em> </li>
   <li><a href="https://languagedrops.com/">Language Drops</a> - <em>Language Learning App / <a href="https://forum.mobilism.org/search.php?keywords=drops&amp;sr=topics&amp;sf=titleonly">Premium</a></em></li>
   <li><a href="https://github.com/Livinglist/Manji">Manji</a> - <em>Language Learning / Japanese / Kanji</em></li>
   <li><a href="http://polyglots.free.fr/">PolyGlot</a> - <em>Linguistic Teaching Software</em></li>
   <li><a href="https://lingyourlanguage.com/">LingYourLanguage</a> or <a href="https://www.languagesquad.com/">Language Squad</a> - <em>Language Identification Test</em></li>
</ul>
<hr>
<h1 id="-music-learning">► Music Learning</h1>
<ul>
   <li><a href="http://www.opensong.org/">OpenSong</a> - <em>Track Lyrics, Chords, Sheets &amp; more</em></li>
   <li><a href="http://lilypond.org/">LilyPond</a> - <em>Music Engraving Program</em></li>
   <li><a href="https://learningmusic.ableton.com/">Learning Music</a></li>
   <li><a href="https://www.teoria.com/index.php">Teoria</a> - <em>Music Theory</em></li>
   <li><a href="https://www.lightnote.co/">LightNote</a> - <em>Music Theory</em></li>
   <li><a href="https://pianu.com/">Pianu</a> - <em>Piano</em></li>
   <li><a href="https://fretflip.com/guitar-scales">FretFlip</a> - <em>Guitar</em></li>
   <li><a href="https://chordbook.com/">ChordBook</a> - <em>Guitar</em></li>
   <li><a href="https://www.songsterr.com/">Songsterr</a> - <em>Guitar</em></li>
   <li><a href="https://guitarsix.com/">Guitarsix</a> - <em>Guitar</em></li>
   <li><a href="https://learningsynths.ableton.com/">LearningSynths</a> - <em>Synthesizers</em></li>
   <li><a href="https://www.quotev.com/story/9299060/A-Complete-UTAU-Tutorial-For-Beginners">A-Complete-UTAU-Tutorial-For-Beginners</a> - <em>UTAU Tutorial</em></li>
</ul>
<hr>
<h1 id="-educational-tools">► Educational Tools</h1>
<ul>
   <li><strong><a href="https://freelearninglist.org/">The Free Learning List</a></strong> - <em>Free Educational Sites / Tool Index</em> </li>
   <li><strong><a href="https://github.com/emptymalei/awesome-research">Awesome Research</a></strong> - <em>Research Tools Index</em> </li>
   <li><strong><a href="https://phet.colorado.edu/">PhET</a></strong> - <em>STEM / Interactive</em></li>
   <li><strong><a href="https://www.oreilly.com/">O&#39;Reilly</a></strong> - <em>Tech / Programming / Infinite trial by clearing cookies &amp; making new account</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_typing_lessons">Typing Lessons &amp; Games</a></strong></li>
   <li><a href="https://learn-anything.xyz/">Learn Anything</a> - <em>Interactive Learning Map</em> </li>
   <li><a href="https://explorabl.es/">Explorabl.es</a> - <em>Interactive Learning / Lessons</em> </li>
   <li>/r/educationalgifs  - <em>Learn With GIFs</em> </li>
   <li><a href="https://tools.kausalflow.com/">KausalFlow</a> - <em>Academic Research Tools</em> </li>
   <li><a href="https://www.zotero.org/">Zotero</a> - <em>Research Organization Tool</em> </li>
   <li><a href="https://www.paperrater.com/">PaperRater</a>, <a href="https://www.copyscape.com/">CopyScape</a> or <a href="https://pltext.com/">PLText</a> - <em>Plagiarism Detection</em></li>
   <li><a href="https://docs.google.com/document/d/1vxxEKhZe_7dd1XIxl_sETsqP__Rf-yPAnBhtwf8huKU/edit?usp=drivesdk">5th STAAR Resource Curation</a> - <em>Grade School Educational Tools</em></li>
   <li><a href="https://stublio.com/">Stublio</a> - <em>Keep Track of what you&#39;re Studying</em> </li>
   <li><a href="https://t.me/anthropology">anthropology</a>, <a href="https://t.me/UPSC4Exams">UPSC4Exams</a> or <a href="https://t.me/UPSCEssayHub">UPSCEssayHub</a> - <em>UPSC Telegram Channels</em> </li>
   <li><a href="http://www.authorstream.com/">AuthorStream</a> or <a href="https://www.slideshare.net/">Slideshare</a> - <em>Watch / Share Slideshows &amp; Presentations</em> </li>
   <li><a href="https://periodicstats.com/">Periodic Stats</a>, <a href="https://periodictableofchemicalelements.com/">The Periodic Table Of Elements</a> or <a href="https://ptable.com/">Ptable</a> - <em>Interactive Periodic Table</em> </li>
   <li><a href="https://images-of-elements.com/">Images-Of-Elements</a> - <em>Periodic Table With Images</em></li>
   <li><a href="https://amrita.olabs.edu.in/">amrita olabs</a> - <em>Science Practicals / Theory / Animations / Simulations</em> </li>
   <li><a href="https://socratic.org/">Get Unstuck</a> - <em>Homework Answers / Help</em> </li>
   <li><a href="https://quizlet.com/">Quizlet</a> - <em>Quizzes / Study Material</em></li>
   <li><a href="https://www.turtlediary.com/">TurtleDiary</a> - <em>Quizzes / Lessons / Games</em></li>
   <li><a href="https://www.softschools.com/">SoftSchools</a> - <em>Worksheets / Games / Quizzes</em></li>
   <li><a href="https://jr.brainpop.com/">BrainPOP Jr.</a> - <em>Quizzes / Animations</em></li>
   <li><a href="https://www.theproblemsite.com/">The Problem Site</a> - <em>Problems / Puzzles/ Games</em></li>
   <li><a href="https://www.puzzleprime.com/">PuzzlePrime</a> - <em>Problems / Puzzles</em></li>
   <li><a href="http://www.lateralpuzzles.com/">LateralPuzzles</a> - <em>Lateral Thinking Puzzles</em></li>
   <li><a href="https://newfastuff.com/the-trolley-problem-game/">The Trolley Problem Game</a> - <em>The Trolley Problem</em></li>
   <li><a href="https://untools.co/">Untools</a> - <em>Better Thinking Tools &amp; Frameworks</em></li>
   <li><a href="https://opensyllabus.org/">OpenSyllabus</a> or <a href="https://www.syllabusfinder.com/">SyllabusFinder</a> - <em>Syllabus Search / Info</em></li>
   <li><a href="https://edpuzz.ninja/">Edpuzz Ninja</a> - <em>Educational Puzzle Solving Tool</em> </li>
   <li><a href="https://www.slader.com/">Slader</a> - <em>Homework Answers and Solutions</em></li>
   <li><a href="https://www.labxchange.org/">LabXchange</a> - <em>Science / Interactive</em></li>
   <li><a href="https://asknature.org/">AskNature</a> - <em>Natural Strategies / Solutions</em> </li>
   <li><a href="https://www.citationgenerator.com/">Citation Generator</a>, <a href="https://citationmachine.net/">CitationMachine</a> or <a href="https://www.citethisforme.com/">Cite This For Me</a> - <em>Generate Citations</em></li>
   <li><a href="https://live.amcharts.com/">AMCharts</a> or <a href="https://acme.com/chartmaker/">ACME Chartmaker</a> - <em>Chart Creator</em></li>
   <li><a href="https://awwapp.com/">AWW</a>, <a href="https://openboard.ch/
      https://github.com/OpenBoard-org/OpenBoard">OpenBoard</a> or <a href="https://r3.whiteboardfox.com/">Whiteboard Fox</a> - <em>Whiteboard</em></li>
   <li><a href="https://app.diagrams.net/">app.diagrams</a>, <a href="http://dia-installer.de/">Dia</a>, <a href="https://rawgraphs.io/">RawGraphs</a>, <a href="https://www.yworks.com/yed-live/">yEd Live</a> or <a href="https://gephi.org/">Gephi</a> - <em>Graph / Diagram Creator</em>  </li>
   <li><a href="https://apps.ankiweb.net/">Anki</a> or <a href="https://www.flashcardmachine.com/">Flashcard Machine</a> - <em>Flash Card Tool</em></li>
   <li><a href="https://www.wolframcloud.com/">Wolfram Cloud</a> - <em>Computational intelligence</em></li>
   <li><a href="http://www.falstad.com/">Falstad</a> - <em>Math &amp; Physics Apps / Simulations</em> </li>
   <li><a href="https://www.csun.edu/science/software/simulations/physics.html">Physics Simulations</a> or <a href="https://www.myphysicslab.com/index-en.html">MyPhysicsLab</a> - <em>Physics Simulations / Animations</em></li>
   <li><a href="https://thephysicsaviary.com/Physics/Programs/Tools/find.php">Physics Saviary</a> - <em>Physics Tools</em> </li>
   <li><a href="https://thebanmappingproject.com/">Theban Mapping Project</a> - <em>Valley of the Kings Map</em> </li>
   <li><a href="https://worldmap.harvard.edu/maps/5565">AP World History Notes Visual</a> - <em>World History Map with Visual Notes</em> </li>
   <li><a href="https://lizardpoint.com/">LizardPoint</a> - <em>Geography Quizzes</em> </li>
   <li><a href="https://thetruesize.com/">The True Size</a> - <em>Compare Country Size</em> </li>
   <li><a href="https://seeing-theory.brown.edu/">Seeing Theory</a> - <em>Interactive Probability / Statistics Lessons</em> </li>
   <li><a href="http://virtualtrebuchet.com/">VirtualTrebuchet</a> - <em>Trebuchet Simulator</em> </li>
   <li><a href="https://www.myphysicslab.com/pendulum/compare-pendulum-en.html">Compare Pendulum</a> - <em>Pendulum Simulator</em></li>
   <li><a href="https://traffic-simulation.de/">Traffic Simulation</a> - <em>Traffic Flow Simulation</em> </li>
   <li><a href="https://ricktu288.github.io/ray-optics/">Ray Optics Simulation</a> - <em>Light Reflection / Refraction Simulator</em></li>
   <li><a href="https://www.c82.net/mineralogy/">British &amp; Exotic Mineralogy</a> - <em>Mineralogy Index</em> </li>
   <li><a href="http://www.onezoom.org/">OneZoom</a> - <em>Tree of Life Explorer</em> </li>
   <li><a href="https://species.wikimedia.org/">Wikispecies</a> or <a href="https://www.catalogueoflife.org/">The Catalogue of Life</a> - <em>Species Directory</em> </li>
   <li><a href="https://www.ocearch.org/?list">Ocearch</a> - <em>Track Marine Life</em></li>
   <li><a href="https://neal.fun/deep-sea/">The Deep Sea</a> - <em>Interactive Deep Sea Life Guide</em> </li>
   <li><a href="https://lifeundertheice.org/">Life Under the Ice</a> - <em>View Antarctic Microbes</em></li>
   <li><a href="https://www.xeno-canto.org/">Xeno-Canto</a> or <a href="https://birdnet.cornell.edu/">Birdnet</a> - <em>Bird Sound Index / Identifier</em> </li>
   <li><a href="http://www.algodoo.com/">Algodoo</a> - <em>Interactive Physics Tool</em></li>
   <li><a href="https://nanohub.org/">nanoHUB</a> - <em>Nanotechnology Tool Index</em></li>
   <li><a href="https://nandgame.com/">NandGame</a> - <em>Computer Building Puzzle</em></li>
   <li><a href="http://vocabulary.ugent.be/">Vocabulary.ugent</a> - <em>Vocabulary Test</em> </li>
   <li><a href="https://yourlogicalfallacyis.com/">YouLogicalFallacyIs</a> - <em>Learn about Logical Fallacies</em> </li>
   <li><a href="https://yourbias.is/">YourBiasIs</a> - <em>Learn about Biases</em> </li>
   <li><a href="https://www.animatedknots.com/">Animated Knots</a> or <a href="https://www.netknots.com/">NetKnots</a> - <em>Learn to Tie Knots</em> </li>
   <li><a href="https://musclewiki.com/">MuscleWiki</a> - <em>Muscle / Exercise Information Tool</em> </li>
   <li><a href="https://mega.nz/folder/rVcExIbB#VN9alzay0OrctggvEn1DUg">Pol Art Folder</a> - <em>Historic European Art &amp; Paintings</em></li>
   <li><a href="http://www.metabolic-pathway.com/fullMap.html">Metabolic-Pathway</a> - <em>Interactive Metabolic Pathways Map</em> </li>
   <li><a href="https://www.howacarworks.com/">How a Car Works</a> - <em>Car Mechanics / Automotive Engineering Guides</em> </li>
   <li><a href="https://morse.withgoogle.com/learn/">Morse Typing Trainer</a> - <em>Morse Code Trainer</em> </li>
   <li><a href="http://oldcomputers.net/">Old Computer Museum</a> - <em>Computer History / Info</em> </li>
   <li><a href="http://hisz.rsoe.hu/">RSOE</a> - <em>Emergency and Disaster Information Service</em> </li>
   <li><a href="https://sidewaysdictionary.com/">Sideways Dictionary</a> - <em>Common Computer Terms Explained Simply</em></li>
   <li><a href="https://pdos.csail.mit.edu/archive/scigen/">SciGen</a> - <em>CS Paper Generator</em></li>
   <li><a href="https://hemanthrajhemu.github.io/">Future Vision BIE</a> - <em>VTU Study Materials</em></li>
   <li><a href="https://www.p2pu.org/">P2PU</a> - <em>Join Learning Groups Using Free Courses</em></li>
   <li><a href="https://www.ratemyprofessors.com/">RateMyProfessor</a> - <em>Professor Ratings</em></li>
</ul>
</div>
</template>
<script>
export default {
  name: 'e'
}
</script>

<style>

</style>