<template>
<div class="content">
  <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/hKtn66r.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-arabic">► Arabic</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://old.akwam.co/">akwam</a> - <em>Video / Audio / Software</em> </li>
   <li><a href="https://shahid4u.one/">Shahid4u</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://mycima.video/">mycima</a> - <em>Movies / TV / Anime</em>  </li>
   <li><a href="https://arabseed.cam/">arabseed</a> - <em>Movies / TV</em> </li>
   <li><a href="https://s2.dotcima.com/">dotCima</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.arblionz.org/">arblionz.org</a> - <em>Movies / TV</em> </li>
   <li><a href="https://mycima.video/">mycima</a> - <em>Movies / TV</em> </li>
   <li><a href="https://egy.best/">EgyBest</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.cartoon3rbi.net/">cartoon3rbi</a> - <em>Cartoons / Anime</em></li>
   <li><a href="https://t.me/shazam_music_uz">Shazam Music</a> - <em>Music / Telegram</em> </li>
   <li><a href="https://t.me/music_banktel">music_banktel</a> - <em>Music / Telegram</em> </li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://www.arabp2p.com/">ArabP2P</a> - <em>Video / Software / Games / Android</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://cima4u.ws/">Cima4U</a> - <em>Movies / TV / Changes Domains Monthly</em></li>
   <li><a href="https://shahid4u.one/">Shahid4u</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.cimaclub.in/">cimaclub</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.faselhd.life/">FaselHD</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://mycima.video/">mycima</a> - <em>Movies / TV / Anime</em>  </li>
   <li><a href="https://www.cinma4up.tv/">Cima4Up</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://arabseed.cam/">arabseed</a> - <em>Movies / TV</em> </li>
   <li><a href="https://egy.best/">EgyBest</a> - <em>Movies / TV</em></li>
   <li><a href="https://s2.dotcima.com/">dotCima</a> - <em>Movies / TV</em></li>
   <li><a href="https://ww.lodynet.cam/">LODYNET</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.arblionz.org/">arblionz.org</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.fushaar.com/">Fushaar</a> - <em>Movies / TV</em></li>
   <li><a href="https://mycima.video/">mycima</a> - <em>Movies / TV</em> </li>
   <li><a href="https://animebdk.blogspot.com/">animebdk</a> - <em>Anime</em></li>
   <li><a href="https://www.anime4up.com/">anime4up</a> - <em>Anime</em></li>
   <li><a href="https://www.gateanime.com/">gateanime</a> - <em>Anime</em></li>
   <li><a href="https://www.shahiid-anime.net/">shahiid</a> - <em>Anime</em></li>
   <li><a href="https://www.branitube.net/">branitube</a> - <em>Anime</em></li>
   <li><a href="https://www.anime4you.one/">anime4you</a> - <em>Anime</em></li>
   <li><a href="https://www.ani-city.tv/">ani-city</a> - <em>Anime</em></li>
   <li><a href="https://www.animem2o.com/">animem2o</a> - <em>Anime</em></li>
   <li><a href="https://www.movizland.com/">movizland</a> - <em>Anime</em></li>
   <li><a href="https://www.animestarz.com/">animestarz</a> - <em>Anime</em></li>
   <li><a href="https://www.egyanime.com/">egyanime</a> - <em>Anime</em></li>
   <li><a href="https://www.anyanime.com/">anyanime</a> - <em>Anime</em></li>
   <li><a href="https://www.xsanime.com/">xsanime</a> - <em>Anime</em></li>
   <li><a href="https://www.okanime.com/">okanime</a> - <em>Anime</em></li>
   <li><a href="https://www.arabseed.net/">arabseed</a> - <em>Anime</em></li>
   <li><a href="https://www.oxoanime.me/">oxoanime</a> - <em>Anime</em></li>
   <li><a href="https://www.animekom.com/">animekom</a> - <em>Anime</em></li>
   <li><a href="https://www.octanime.com/">octanime</a> - <em>Anime</em></li>
   <li><a href="https://www.anyanime.com/">anyanime</a> - <em>Anime</em></li>
   <li><a href="https://www.animelek.tv/">animelek</a> - <em>Anime</em></li>
   <li><a href="https://www.animesilver.com/">animesilver</a> - <em>Anime</em></li>
   <li><a href="https://www.animetv.ge/">animetv</a> - <em>Anime</em></li>
   <li><a href="https://www.zimabdko.com/">zimabdko</a> - <em>Anime</em></li>
   <li><a href="https://www.tuktukcinema.com/">tuktukcinema</a> - <em>Anime</em></li>
   <li><a href="http://fomny.com/Home/index.php">fomny</a> - <em>Live TV</em> </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://www.dopdfwn.com/">dopdfwn</a> - <em>PDF Search Engine</em> </li>
   <li><a href="https://books-library.online/">books-library</a> - <em>Books</em> </li>
   <li><a href="https://download-pdf-ebooks.online/">download-pdf-ebooks</a> - <em>Books</em> </li>
   <li><a href="https://www.kutub-pdf.net/">kutub</a> - <em>Books</em> </li>
   <li><a href="https://foulabook.com/">foulabook</a> - <em>Books</em> </li>
</ul>
<hr>
<h1 id="-bulgarian">► Bulgarian</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://www.videofen.com/">videofen</a> - <em>Warez list</em></li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://zamunda.net/">Zamunda</a> - <em>Registration Required</em></li>
</ul>
<hr>
<h1 id="-chinese">► Chinese</h1>
<ul>
   <li><a href="https://heji.ltd/">heji</a> or <a href="https://www.bajins.com/">bajins</a> - <em>Chinese Site / Tool Index</em></li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://ali213.net/">Ali213</a> - <em>Games</em></li>
   <li><a href="https://www.3dmgame.com/">3dmgame</a> - <em>Games / Geolocked / Baidu Required</em> </li>
   <li><a href="https://www.okzyw.com/">okzyw</a> - <em>Movies</em> </li>
   <li><a href="http://www.zimuku.la/">zimuku</a> - <em>Movies</em> </li>
   <li><a href="http://www.pianyuan.la/">pianyuan</a> - <em>Movies</em></li>
   <li><a href="http://www.gugeys.cc/">gugeys</a> - <em>Movies</em> </li>
   <li><a href="http://www.52hdking.com/">52hdking</a> - <em>TV</em>  </li>
   <li><a href="https://greasyfork.org/en/scripts/372684">Icourse163 Downloader</a> - <em>Courses / <a href="https://www.icourse163.org/">icourse163</a></em></li>
   <li><a href="https://www.91flac.com/">91Flac</a> - <em>Music</em> </li>
   <li><a href="https://www.flac123.com/">Flac123</a> - <em>Music</em> </li>
   <li><a href="https://jpop.xyz/">J-pop Music Download</a> - <em>Music / FLAC / MP3</em> </li>
   <li><a href="https://tlanyan.me/">tlanyan</a> - <em>Linux / Software</em>  </li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="http://ciligou0.com/">ciligou0</a> - <em>Torrent Magnet Search</em> </li>
   <li><a href="https://bt.orzx.im/">Csze BT</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="https://www.acgnx.se/">acgnx</a> - <em>Video / Audio / Software / Books / NSFW</em> </li>
   <li><a href="http://share.dmhy.org/">Share.dmhy</a> - <em>Anime / Manga / Games / Music</em> </li>
   <li><a href="https://dytt8.net/">dytt8</a>, <a href="https://dy2018.com/">dy2018</a>, <a href="https://ygdy8.com/index.html">ygdy8</a> or <a href="https://www.dydytt.net">dydytt</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.piaohua.com/">piaohua</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://gaoqing.fm/">gaoqing</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="http://www.rarbt.cc/">RARBT</a> - <em>Movies</em> </li>
   <li><a href="https://acg.rip/">ACG.rip</a> - <em>Anime / Music</em> </li>
   <li><a href="https://ali213.net/">Ali213</a> - <em>Games</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://www.reddit.com/r/CDrama/wiki/streaming">Chinese Drama Site Index</a> </li>
   <li><a href="http://www.9090.tv/">9090</a> - <em>Movies / TV / Anime</em>  </li>
   <li><a href="http://www.370kan.com/">370kan</a> - <em>Movies / TV</em> </li>
   <li><a href="https://t.me/beyondHD">beyondHD </a> - <em>Movies / Subs</em> </li>
   <li><a href="http://www.14tv.com/">14tv</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://vinspirezhk.blogspot.com/">Watch HK Movies Online</a> - <em>Rare Chinese Movies / English Subs</em> </li>
   <li><a href="https://duonaolive.com/">duonaolive</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://pangzitv.com/">PangzITV</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.ifvod.tv/">ifvod</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.tangrenjie.tv/">tangrenjie</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://v.qq.com/">v.qq</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.cmdy2020.com/">cmdy2020</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="http://icdrama.video/">IcDrama</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.nunuyy.com/">Nunu Cinema</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.gangjuw.com/">gangjuw</a> - <em>TV</em></li>
   <li><a href="http://www.xigua12.com/">xigua12</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://greasyfork.org/en/scripts/372684">Icourse163 Downloader</a> - <em>Courses / <a href="https://www.icourse163.org/">icourse163</a></em></li>
   <li><a href="https://music.163.com/">music.163</a> - <em>Music</em></li>
   <li><a href="http://y.jsososo.com/">jsososo</a>, <a href="http://music.jsososo.com/">2</a> - <em>Music</em> </li>
   <li><a href="http://www.dj34.com/">dj34</a> - <em>Music</em>  </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://www.jiumodiary.com/">Jiumo</a> - <em>eBook Search Engine</em>  </li>
   <li><a href="http://www.ting89.com/">ting89</a> - <em>Books / Audiobooks / Fiction</em> </li>
   <li><a href="https://t.me/BooksThatMakeYouThink">BooksThatMakeYouThink</a> - <em>Nonfiction</em> </li>
   <li><a href="https://kgbook.com/">kgbook</a> - <em>Books / Fiction / Nonfiction</em></li>
   <li><a href="https://new.shuge.org/">shuge</a> - <em>Books / Audiobooks / Fiction / Nonfiction / Legal</em></li>
   <li><a href="http://www.pdfbook.cn/">pdfbook</a> - <em>Books / Fiction / Nonfiction</em>  </li>
   <li><a href="http://pdfzj.cn/">pdfzj</a> - <em>Books / Fiction / Nonfiction</em> </li>
   <li><a href="http://www.ysxs8.com/">ysxs8</a> - <em>Audiobooks / Books / Fiction</em> </li>
   <li><a href="http://haodoo.net/">haodoo</a> - <em>Books / Fiction / Nonfiction</em>  </li>
   <li><a href="https://www.rzlib.net/">rzlib</a> - <em>Light-Novels</em> </li>
   <li><a href="https://m.booktxt.net/">booktxt</a> - <em>Light-Novels</em> </li>
   <li><a href="https://ishare.iask.sina.com.cn/">ishare.iask</a> - <em>Documents</em>  </li>
   <li><a href="http://www.guoxue.com/">guoxue</a> - <em>History / Journals</em></li>
</ul>
<hr>
<h1 id="-czech">► Czech</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="http://war-forum.net/">War-Forum</a> - <em>Video / Audio / Software / Games / Books / Magazines / Comics / NSFW</em> </li>
   <li><a href="https://warcenter.cz/">WarezCenter</a> - <em>Video / Audio / Software / Games / Books / Android / NSFW</em> </li>
   <li><a href="https://giga-warez.forumczech.com/">GigaWarez</a> - <em>Video / Audio / Games / Software</em></li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://giga-warez.forumczech.com/">GigaWarez</a> - <em>Video / Audio / Games / Software</em></li>
   <li><a href="http://www.hd-cztorrent.cz/">hd-cztorrent</a> - <em>Video / Audio / Software / Games / NSFW</em> </li>
   <li><a href="http://www.freecztorrent.eu/">freecztorrent </a> - <em>Movies / TV</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://www1.filmplanet.to/">FilmPlanet</a> - <em>Movies / TV</em> </li>
</ul>
<hr>
<h1 id="-danish">► Danish</h1>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://filmcentralen.dk/">FilmCentralen</a> - <em>Movies</em> </li>
   <li><a href="http://www.freetvstream.in/">Free TV Stream</a> - <em>TV / Sports / Live</em></li>
   <li><a href="https://www.dr.dk/">DR.DK</a> - <em>Movies / TV / Live</em> </li>
</ul>
<hr>
<h1 id="-finnish">► Finnish</h1>
<ul>
   <li><a href="https://www.finna.fi/">finna.fi</a> - <em>Media Archive / Library Card Required</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://elonet.finna.fi/">Elonet</a> - <em>Movies</em> </li>
   <li><a href="https://areena.yle.fi/">Areena</a> - <em>Movies / TV</em></li>
</ul>
<hr>
<h1 id="-french">► French</h1>
<ul>
   <li><a href="https://www.wareziens.net/">WarezienS</a> - <em>Piracy Discussion</em>  </li>
   <li><a href="https://www.subsynchro.com/">SubSynchro</a>, <a href="https://www.sous-titres.eu/">Sous-Titres</a> or <a href="https://subfactory.fr/">SubFactory</a> - <em>French Subtitles</em> </li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="http://nextwarez.com/">NextWarez</a> - <em>Warez Lists</em>  </li>
   <li><a href="https://www.mega-p2p.net/">mega-p2p</a> - <em>Warez Lists</em>  </li>
   <li><a href="https://lamule.eu/">Lamule</a> - <em>Warez / List</em></li>
   <li><a href="https://www.wawacity.video/">WawaCity</a>, <a href="https://www.wawacity.vip/">2</a> - <em>Video / Audio / Books / Magazines / Software / Android / Use AdBlocker</em></li>
   <li><a href="https://www.tirexo.com/">Tirexo</a>, <a href="https://www2.tirexo.lol/">2</a> - <em>Video / Audio / Books / Roms / Software / Android</em></li>
   <li><a href="https://wwvw.zone-annuaire.com/">zone-annuaire</a> - <em>Video / Audio / Games</em>  </li>
   <li><a href="https://ww2.free-telecharger.org/">Free-Telecharger</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://www.abandonware-france.org/index.php">Abandonware France</a> - <em>Abandonware</em></li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://www.torrent9.so/">torrent9</a> - <em>Video / Audio / Books / Roms / Software</em></li>
   <li><a href="https://vww.gktorrent.pw/">GKTorrent</a>, <a href="https://www.torrent9.so/">Torrent9</a>, <a href="https://wwv.cpasbien.ph/">Cpasbien</a> or <a href="https://www.oxtorrent.cc/">OXTorrent</a> - <em>Video Audio / Software / Games / Roms / Books</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://www.wawacity.video/">WawaCity</a>, <a href="https://www.wawacity.vip/">2</a> - <em>Video / Audio / Books / Magazines / Software / Android / Use AdBlocker</em></li>
   <li><a href="https://www1.k-streaming.co/">K-Streaming</a> - <em>Movies / TV</em></li>
   <li><a href="https://video.stream-serie.cc/">Stream-Serie</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://vkstreaming.one/">VK Streaming</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://filmzenstream.online/">FilmZen</a> - <em>Movies</em> </li>
   <li><a href="https://otakufr.co/">OtakuFR</a> - <em>Anime</em> </li>
   <li><a href="http://www.anime-vf.fr/">Anime VF</a> - <em>Anime</em> </li>
   <li><a href="https://www.jetanimes.co/">JetAnime</a> - <em>Anime</em> </li>
   <li><a href="https://dbanimes.com/">DBAnimes</a> - <em>Anime</em> </li>
   <li><a href="http://www.anime-ultime.net/">Anime-Ultime</a> - <em>Anime</em></li>
   <li><a href="https://voiranime.com/">VoirAnime</a> - <em>Anime</em> </li>
   <li><a href="https://vostfree.com/">VostFree</a> - <em>Anime</em></li>
   <li><a href="https://streamfr.film/">StreamFR</a> - <em>Movies / TV</em></li>
   <li><a href="https://sokrostream.top/">SokroStream</a> - <em>Movies / TV</em> </li>
   <li><a href="https://hdss.la/">HDSS</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://voir.wikiseries.co/">WikiSeries</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.streamay.to/">Streamay</a> - <em>Movies / TV</em> </li>
   <li><a href="https://wwv.papystreaming.is/">PapyStreaming</a> - <em>Movies</em> </li>
   <li><a href="https://www2.stream-complet.me/">StreamComplete</a> - <em>Movies</em>  </li>
   <li><a href="https://stream-vf.club/">VFStream</a> - <em>Movies / TV</em></li>
   <li><a href="https://wiflix.cc/">WiFlix</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://dtvd.net/">dtvd</a> or <a href="https://liveschauen.com/">liveschauen</a> - <em>Live TV</em> </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://telecharge-magazines.com/">Telecharger</a> - <em>Books / Magazines / NSFW</em></li>
   <li><a href="https://fr.mon-ebook.com/">Mon-Ebook</a> - <em>Books / Fictions / Nonfiction / NSFW</em></li>
   <li><a href="https://e-booksland.com/">e-BooksLand</a> - <em>Books / Magazines / Fiction / Nonfiction</em></li>
   <li><a href="https://french-bookys.org/">french-bookys</a> - <em>Books / Magazines / Fiction / Nonfiction</em></li>
   <li><a href="https://go.1001ebooks.com/accueil/">1001ebooks</a> - <em>Books / Fiction / Nonfiction</em> </li>
   <li><a href="http://ebooks-gratuit.com/">Gratuit</a> - <em>Books / Fiction / Nonfiction</em></li>
   <li><a href="https://www.pdf-ebookys.com/">pdf-ebookys</a> - <em>Books / Magazines / Fiction / Nonfiction</em> </li>
   <li><a href="https://vk.com/sebomag">VK Serial Books &amp; Magazines</a> - <em>Books / Magazines</em>  </li>
   <li><a href="https://planete-bd.org/">Planet-DB</a> - <em>Comics / Manga</em></li>
   <li><a href="https://www.audiocite.net/">Audiocite</a> - <em>Audiobooks</em> </li>
   <li><a href="https://zone-ebook.com/">zone-ebook.com</a> - <em>Magazines / Newspapers / Books / Audiobooks / Comics</em>   </li>
   <li><a href="http://www.fourtoutici.pro/">fourtoutici</a> - <em>Document Search</em>  </li>
   <li><a href="https://yokaijump.fr/">yokaijump</a> - <em>Manga</em> </li>
   <li><a href="https://scantrad.net/">scantrad</a> - <em>Manga</em> </li>
   <li><a href="https://www.scan-fr.cc/">scan-fr</a> - <em>Manga</em> </li>
</ul>
<hr>
<h1 id="-german">► German</h1>
<ul>
   <li><a href="https://github.com/SeppPenner/awesome-german-piracy">awesome-german-piracy</a> - <em>collection of German sites</em></li>
   <li><a href="https://toplist.raidrush.ws/">RR.Topliste</a> - <em>Piracy Sites List</em> </li>
   <li><a href="https://forum.tarnkappe.info/">Tarnkappe</a> - <em>Piracy Discussion + <a href="https://t.me/Tarnkappe_info">Telegram</a></em></li>
   <li><a href="https://www.xrel.to/">xrel</a> - <em>Scene Release &amp; P2P Tracker</em> </li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://crawli.net/">Crawli</a> - <em>Download Search</em> </li>
   <li><a href="http://bestoflinks.synology.me/">Bestoflinks</a> - <em>Warez / List</em></li>
   <li><a href="https://www.archivx.to/">ArchivX</a> - <em>Warez / List</em> </li>
   <li><a href="https://www.linkr.top/index.php">LinkR</a> - <em>Warez / List</em></li>
   <li><a href="https://3dl.tv/">3DL.TV</a> - <em>Video / Audio / Games / Software / Books / Android / NSFW</em></li>
   <li><a href="https://goldesel.to/">Goldesel</a> - <em>Video / Audio / Software / Games / Android / NSFW</em></li>
   <li><a href="https://byte.to/">byte.to</a> - <em>Video / Audio / Software / Android / Books / NSFW</em> </li>
   <li><a href="https://ngb.to/">ngb</a> - <em>Video / Software / Audio / Books / Android</em> </li>
   <li><a href="https://warez.to/">warez.to</a> - <em>Movies / TV / Games / Software / NSFW</em> </li>
   <li><a href="https://hd-direct.net/">hd-direct.net</a> - <em>Movies / TV / Anime / Games</em> </li>
   <li><a href="https://hd-source.to/">hd-source</a> - <em>Movies / TV / NSFW</em> </li>
   <li><a href="https://movie-blog.tv/">movie-blog</a> - <em>Movies / TV</em></li>
   <li><a href="https://mlcboard.com/">MLCBoard</a> - <em>Movies</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_german_telegram_movie_downloads">German Telegram Movie Downloads</a> - <em>Movies</em> </li>
   <li><a href="https://myboerse.bz/">Boerse</a> - <em>Video / Audio / Software / Android / NSFW</em></li>
   <li><a href="https://www.animes.so/">Animes.so</a> - <em>Anime</em> </li>
   <li><a href="https://serienjunkies.org/">serienjunkies</a> - <em>TV</em> </li>
   <li><a href="http://uu.canna.to/">uu.canna.to</a> - <em>Music / Audiobooks</em> </li>
   <li><a href="https://casualgamers.club/">CasualGamers</a> - <em>Games</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://startseite.to/">StartSeite</a> - <em>Movies / TV / List</em></li>
   <li><a href="https://streamkiste.tv/">streamkiste</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://www.streamth.is/">Streamth.is</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.burning-series.net/">Burning Series</a> - <em>Movies / TV / Anime / Needs VPN</em></li>
   <li><a href="https://filmpalast.to/">filmpalast</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.anime4you.one/">anime4you</a> - <em>Anime</em>  </li>
   <li><a href="https://movieking.cc/">movieking</a> - <em>Movies</em></li>
   <li><a href="https://hd-streams.org/">HD-Streams</a> - <em>Movies / TV</em> </li>
   <li><a href="https://kinoz.to/">KinoZ</a> - <em>Movies / TV / Anime / NSFW</em> </li>
   <li><a href="https://s.to/">S.TO</a> - <em>TV / Anime</em> </li>
   <li><a href="https://www.srf.ch/">SRF.CH</a> - <em>TV / Sports / Live</em></li>
   <li><a href="https://www.anime-loads.org/">Anime-Loads</a> - <em>Anime</em></li>
   <li><a href="https://www.dokuhouse.de/">Dokuhouse</a> - <em>Documentaries</em></li>
   <li><a href="https://dokustreams.de/">dokustreams</a> - <em>Documentaries</em></li>
   <li><a href="http://doku-streams.com/">Doku-Streams</a> - <em>Documentaries</em></li>
   <li><a href="https://www.dctp.tv/">dctp.tv</a> - <em>Documentaries</em></li>
   <li><a href="https://www.dokuh.de/">dokuh.de</a> - <em>Documentaries</em>  </li>
   <li><a href="http://doku.me/">doku</a> - <em>Documentaries</em></li>
   <li><a href="https://www.24detv.de/">24DETV</a> - <em>Live TV</em> </li>
   <li><a href="https://dtvd.net/">dtvd</a> or <a href="https://liveschauen.com/">liveschauen</a> - <em>Live TV</em> </li>
   <li><a href="https://www.2ix2.com/">2ix2</a> or <a href="https://www.fernsehen-de.com/">fernsehen-de</a> - <em>Live TV</em> </li>
   <li><a href="https://www.tvdelive.com/">tvdelive</a> or <a href="https://www.tvpinto.com/">tvpinto</a> - <em>Live TV</em> </li>
   <li><a href="https://www.hoerspielprojekt.de/">hoerspielprojekt</a> - <em>Radio Plays</em>  </li>
   <li><a href="https://github.com/proxer/ProxerAndroid">ProxerAndroid</a> - <em>Android / Anime</em></li>
   <li><a href="https://f-droid.org/packages/org.mosad.teapod">Teapod</a> - <em>Android / Anime</em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://dokumen.pub/">Dokumen</a> - *Books</li>
   <li><a href="https://vk.com/sebomag">VK Serial Books &amp; Magazines</a> - <em>Books / Magazines</em> </li>
   <li><a href="http://www.ebook-land.cc/index.php">EBook Land</a> - <em>Books / Magazines</em></li>
   <li><a href="https://ebook-hell.to/">ebook-hell</a> - <em>Books / Magazines / NSFW / Use adblocker</em> </li>
   <li><a href="https://de.downmagaz.net/">DownMagaz</a> - <em>Magazines / NSFW</em> </li>
   <li><a href="https://hoerbuch.us/">Hoerbuch</a> - <em>Audiobooks</em></li>
</ul>
<hr>
<h1 id="-georgian">► Georgian</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="http://warez.ge/">Warez.Ge</a> - <em>Video / Audio / Games / Software / Android</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://www.adjaranet.com/">adjaranet</a> - <em>Movies / TV</em></li>
</ul>
<hr>
<h1 id="-greek">► Greek</h1>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://fevgatotv-tainies.com/">Tainies</a> - <em>Movies / TV</em></li>
   <li><a href="https://tainio-mania.online/">Tainio-Mania</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.eltube.gr/">ELTube</a> - <em>Movies / TV</em></li>
   <li><a href="https://greek-movies.com/">Greek-Movies</a> - <em>Movies / TV / Live / Courses</em></li>
</ul>
<hr>
<h1 id="-hebrew">► Hebrew</h1>
<ul>
   <li><a href="https://www.abmaps.com/">AB-Maps</a> - <em>Map Tool</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://sdarot.tv/">sdarot.tv</a> - <em>TV / Anime / <a href="https://rentry.co/mnvfw">Mirrors</a></em></li>
   <li><a href="https://jfc.org.il/">JFC</a> - <em>Movies</em></li>
</ul>
<hr>
<h1 id="-hindi">► Hindi</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://9xmovies.land/">9xMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.480ptvshows.com/">480p TV Shows</a> - <em>Movies / TV</em> </li>
   <li><a href="https://themoviestalk.icu/">TheMoviesTalk</a> - <em>Movies / TV / NSFW / <a href="https://t.me/themoviestalk123">Telegram</a></em> </li>
   <li><a href="https://mkvmoviespoint.gen.in/">Movies Point</a> - <em>Movies</em> </li>
   <li><a href="https://privatemoviez.com/">PrivateMovieZ</a> - <em>Movies / TV</em></li>
   <li><a href="https://bdmusic23.bid/">BDmusic</a> - <em>Movies / TV</em></li>
   <li><a href="https://katmoviehd.se/">KatMovieHD</a> - <em>Movies / TV</em></li>
   <li><a href="https://t.me/MoviesHomeOFFICIALS">MoviesVerse</a> - <em>Movies / TV / Telegram</em> </li>
   <li><a href="https://t.me/BollywoodCineplex">BollywoodCineplex</a> - <em>Movies</em></li>
   <li><a href="https://moviezaddiction.me/">MoviezAddiction</a> - <em>Movies / TV / Telegram</em> </li>
   <li><a href="https://www.uncuthd.win/">UnCutHD</a> - <em>Movies / TV</em> </li>
   <li><a href="https://gophie.cam/">Gophie</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.desirulez.cc/">DesiRulez</a> - <em>Video / Audio</em></li>
   <li><a href="https://saavn.tomato.to/">Tomato.to</a> - <em>MP3</em></li>
   <li><a href="https://www.pagalworld.pw/">Pagalworld</a> - <em>MP3</em></li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://bolly4u.life/">bolly4u</a> - <em>Movies / TV</em></li>
   <li><a href="http://ww16.1tamilmv.xyz/">1TamilMV</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://www.ssrmovies.media/">ssrmovies</a> - <em>Movies</em></li>
   <li><a href="https://torrentmovies.co/">Torrent Movies</a> - <em>Movies</em> </li>
   <li><a href="https://movcr.st/">MovCr</a> - <em>Video / Audio</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://indiancine.ma/">IndianCine</a> - <em>62k Indian Films / Short Films</em> </li>
   <li><a href="https://cinevood.cyou/">CineVood</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://www.mxplayer.in">mxplayer</a> - <em>Movies</em></li>
   <li><a href="https://www.bolly2tolly.net/">Bolly2Tolly</a> - <em>Movies</em> </li>
   <li><a href="https://world4ufree.cyou/">World4uFree</a> - <em>Movies / TV</em> </li>
   <li><a href="https://9xmovies.land/">9xMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://4movierulz.mn/">4MovieRulz</a> - <em>Movies</em> </li>
   <li><a href="http://watchnhear.com/">WatchnHear</a> - <em>Movies</em></li>
   <li><a href="https://hindilover.biz/">HindiLover</a> - <em>TV</em></li>
   <li><a href="https://okjatt.work/">OkJatt</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.hindilinks4u.to/">HindiLinks4u</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.movies4.com.pk/">Movies4</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.onlinemovies8.com.pk/">OnlineMovies8</a> - <em>Movies</em> </li>
   <li><a href="http://www.pakbcn.live/">PakBcn</a> - <em>TV / Live</em></li>
   <li><a href="https://deadtoonsindia.net/">Dead Toons India</a> - <em>Cartoons / Anime</em> </li>
   <li><a href="https://www.desirulez.cc/">DesiRulez</a> - <em>Video / Audio</em></li>
   <li><a href="https://kukufm.com/">kukufm.com</a> - <em>Podcasts / Radio / Audiobooks</em> </li>
   <li><a href="https://gaana.com/">gaana</a> - <em>Music</em></li>
   <li><a href="https://www.hungama.com/music/">hungama</a> - <em>Music</em></li>
   <li><a href="https://www.jiosaavn.com/">jiosaavn</a> - <em>Music</em></li>
   <li><a href="https://shinchan.pages.dev/">PikaShow</a> - <em>Android / Movies / TV</em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://t.me/requesthindibooks">requesthindibooks</a> - <em>Books / Request</em></li>
   <li><a href="https://t.me/English_Hindi_Novels_Magazine">English_Hindi_Novels_Magazine</a> - <em>Books / Magazines</em></li>
</ul>
<hr>
<h1 id="-hungarian">► Hungarian</h1>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://videa.hu/">videa</a> - <em>Search</em> </li>
   <li><a href="https://mozicsillag.me/">mozicsillag</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.onlinefilmekingyen.com/">onlinefilmekingyen</a> - <em>Movies</em> </li>
   <li><a href="https://www.sorozatbarat.online/">sorozatbarat</a> - <em>Movies / TV</em> </li>
   <li><a href="https://filmezz.co/">filmezz</a> - <em>Movies / TV</em> </li>
</ul>
<hr>
<h1 id="-indonesian">► Indonesian</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://kafedownload.com/">Kafe Stream</a> - <em>Movies</em></li>
   <li><a href="https://animebatchs.net/">AnimeBatchs</a> - <em>Anime</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://bioskopkeren.black/">Bioskopkeren</a> - <em>Movies / TV</em> </li>
   <li><a href="https://fl1x.com/">Fl1x</a> - <em>Movies / TV</em> </li>
   <li><a href="http://ligaxxi.xyz/">Ligaxxi</a> - <em>Movies / TV</em> </li>
   <li><a href="https://samehadaku.vip/">Samehadaku</a> - <em>Anime</em> </li>
   <li><a href="https://neonime.site/">Neonime</a> - <em>Anime</em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://indonesiaebook.com/">Indonesia Ebook</a> - <em>Books / Fiction / Novels / Non fiction</em></li>
</ul>
<hr>
<h1 id="-italian">► Italian</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://cb01.directory/">CB01</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://eurostreaming.vision/">euroStreaming</a> - <em>Use deltabit / Movies / TV / Anime / Use AdBlocker</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://cb01.directory/">CB01</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://eurostreaming.vision/">euroStreaming</a> - <em>Use deltabit / Movies / TV / Anime / Use AdBlocker</em> </li>
   <li><a href="https://streamingcommunity.net/">streamingcommunity</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://altadefinizione.sh/">Altaefinizione</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://filmpertutti.voto/">FilmPertutti</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.eurostreaming.camp/">EuroStreaming</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.guardaserie01.uno/">guardaserie01</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.arcoiris.tv/">Arcoiris TV</a> - <em>TV</em></li>
   <li><a href="https://www.animesaturn.it/">AnimeSaturn</a> - <em>Anime</em> </li>
   <li><a href="https://www.animeworld.tv/">AnimeWorld</a> - <em>Anime</em> </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://dwnlg.tel/book-n/">dwnlg.tel</a> - <em>Books / 110GB</em> </li>
   <li><a href="https://solu.zone/">Solu</a> - <em>Textbook Solutions</em></li>
</ul>
<hr>
<h1 id="-japanese">► Japanese</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://www.akiba-online.com/">Akiba-Online</a> - <em>Video / Audio / Games / Comics / NSFW</em></li>
   <li><a href="https://asiamediablog.com/">Asia Media Blog</a> - <em>Video / Audio / Software / Games / Magazines</em></li>
   <li><a href="https://jpfiles.eu/">JPFILES</a> - <em>Video / Audio / Books / NSFW</em></li>
   <li><a href="https://jpddl.com/">jpddl</a> - <em>Manga / Anime / Music / Drama</em>  </li>
   <li><a href="https://drive.google.com/drive/folders/1OuJJg_zr4pG3EW2SYFyV4CaBxlyypZAQ">剧集</a> - <em>Anime / Drive</em> </li>
   <li><a href="https://www.animetime.pw/">AnimeTime</a> - <em>Anime</em> </li>
   <li><a href="http://arearaw.com/">arearaw</a> - <em>Anime / Use Tor</em> </li>
   <li><a href="https://minimummusic.com/">MinimumMusic</a> - <em>Music / MP3 / FLAC</em></li>
   <li><a href="https://sukidesuost.info/">Sukidesuost</a> - <em>Music / MP3 / FLAC</em></li>
   <li><a href="https://www.yogurk.com/">Yogurk</a> - <em>Music / FLAC</em></li>
   <li><a href="https://hikarinoakari.com/">Hikarinoakariost</a> - <em>Music / MP3</em></li>
   <li><a href="https://jpop80ss.blogspot.com/">jpop80ss</a> - <em>Music / MP3</em></li>
   <li><a href="http://www.9tensu.com/">9tensu</a> - <em>Music / MP3</em></li>
   <li><a href="https://doujinstyle.com/">DoujinStyle.com</a> - <em>Music / MP3</em> </li>
   <li><a href="https://fusion-world-30.blogspot.com/">Music Fusion World</a> - <em>Music / MP3</em></li>
   <li><a href="https://jpop.xyz/">J-pop Music Download</a> - <em>Music / MP3 / FLAC</em> </li>
   <li><a href="http://nekomimi.la.coocan.jp/freesoft/index.htm">フリーソフトウェアの倉庫</a> - <em>Software</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://saidit.net/s/freemediaheckyeah/wiki/storage#wiki_asian_drama_sites">Drama Sites</a></li>
   <li><a href="https://muryoueigadrama.com/">muryoueigadrama</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="http://mhometheater.com/">mhometheater</a> - <em>Movies / Anime</em> </li>
   <li><a href="https://muryoueiga.site/">muryoueiga</a> - <em>Movies</em> </li>
   <li><a href="https://momotheater.com/">momotheater</a> - <em>Movies / Anime</em></li>
   <li><a href="https://yume551.com/">yume551</a> - <em>Movies / Anime / NSFW</em></li>
   <li><a href="https://fmmiithuketa.blog.fc2.com/">fmmiithuketa</a> - <em>Movies / Anime</em></li>
   <li><a href="https://jp-films.com/">JP-Films</a> - <em>Movies / TV</em> </li>
   <li><a href="https://abema.tv/">Abema</a> - <em>Live TV</em> </li>
   <li><a href="https://webcinema.wwww.jp/">webcinema</a> - <em>Anime / <a href="https://siritai.folder.jp/">Drive</a></em></li>
   <li><a href="https://www.animetime.pw/">AnimeTime</a> - <em>Anime</em> </li>
   <li><a href="http://b9good.com/">b9good</a> - <em>Anime</em></li>
   <li><a href="https://animelon.com/">AnimeLon</a> - <em>Anime / Learn Japanese</em></li>
   <li><a href="https://aqstream.com/">AQ Stream</a> - <em>Live TV</em> </li>
   <li><a href="https://touhou.kuukunen.net/">kuukunen</a> - <em>Music</em></li>
   <li><a href="https://ufile.io/vh9e2j6h">Live Japanese M3u</a> - <em>M3u File for VLC</em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://raw.senmanga.com/">senmanga</a> - <em>Manga / Novels / NSFW</em></li>
   <li><a href="https://manga1000.com/">manga1000</a> or <a href="https://manga1001.com/">manga1001</a> - <em>Manga / NSWF</em> </li>
   <li><a href="https://rawdevart.com/">rawdevart</a> - <em>Manga</em> </li>
   <li><a href="https://mangaraid.com/">mangaraid</a> - <em>Manga / NSFW</em> </li>
   <li><a href="https://www.mangabox.me/">MangaBox</a> - <em>Manga</em> </li>
   <li><a href="https://dlraw.net/">DLRaw</a> - <em>Manga</em></li>
   <li><a href="http://13dl.net/">13DL</a> - <em>Manga / Novels / NSFW</em></li>
   <li><a href="https://dl-raw.net/">dl-raw</a> - <em>Manga / Novels / NSFW</em></li>
   <li><a href="http://excnn.xyz/">excnn</a> - <em>Manga / Novels</em></li>
   <li><a href="https://jpraw.net/">jpraw</a> - <em>Manga / NSFW</em></li>
   <li><a href="https://rawmangazip.com/">RawMangaZip</a> - <em>Manga / Novels / NSFW</em>  </li>
   <li><a href="https://honto.jp/cp/ebook/recent/free.html">Honto</a> - <em>Manga / NSFW</em></li>
   <li><a href="https://manga-zip.net/">manga-zip</a>, <a href="https://manga-zip.info/">2</a> - <em>Manga / NSFW</em> </li>
   <li><a href="http://dl-zip.com/">dl-zip</a> - <em>Manga / NSFW</em></li>
   <li><a href="https://www.cmoa.jp/">CMOA</a> - <em>Manga</em>  </li>
   <li><a href="https://shobonnexus.com/">shobonnexus</a> - <em>Novels / Magazines</em>  </li>
   <li><a href="http://watanoc.com/">watanoc</a> - <em>Articles / Learn Japanese</em> </li>
</ul>
<hr>
<h1 id="-korean">► Korean</h1>
<ul>
   <li><a href="https://zoalink.com/">ZoaLink</a> - <em>Korean Sites Index</em> </li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://torrentrank.net/">Torrentrank</a> - <em>Warez list</em> </li>
   <li><a href="https://www.bobaelink.net/">bobaelink</a> - <em>Warez list</em> </li>
   <li><a href="https://jpfiles.eu/">JPFILES</a> - <em>Video / Audio / Books / NSFW</em></li>
   <li><a href="https://jpapas.tistory.com/">Jpapas</a> - <em>Modded APKs</em> </li>
   <li><a href="https://jpop.xyz/">J-pop Music Download</a> - <em>Music / FLAC / MP3</em> </li>
   <li><a href="https://k2nblog.com/">k2nblog</a> or <a href="http://hulkpop.top/">HulkPop</a>  - <em>Blog / KPop / MP3</em></li>
   <li><a href="https://ilkpop.com/">ilKPOP</a> - <em>KPop / MP3</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://saidit.net/s/freemediaheckyeah/wiki/storage#wiki_asian_drama_sites">Drama Sites</a></li>
   <li><a href="https://hindilover.biz/">HindiLover</a> - <em>TV</em></li>
   <li><a href="https://aqstream.com/">AQ Stream</a> - <em>Live TV</em> </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://github.com/junheah/MangaViewAndroid">MangaViewAndroid</a> - <em>Manga / Android</em></li>
</ul>
<hr>
<h1 id="-norwegian">► Norwegian</h1>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://tv.nrk.no/">NRK TV</a> - <em>Norwegian / Streaming / Movies / TV</em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://www.nb.no/english/the-digitizing-process">Nasjonalbiblioteket</a> - <em>Books</em></li>
</ul>
<hr>
<h1 id="-persian">► Persian</h1>
<ul>
   <li><a href="https://github.com/AminTaheri23/Awesome-AI-telegram-gp-and-channel">Awesome AI channels</a> - <em>Persian Telegram Bot Index</em> </li>
   <li><a href="https://iranzirnevis.com/">iranzirnevis</a> - <em>Subtitles</em> </li>
   <li><a href="https://bin.disroot.org/?85b66e37980b245e#DRbHouuNMfXGRdqPs68y6nGLULhHdvdXzuPdDmBxsyi2">Free VPN Telegram Channels</a> - <em>Free VPN / Telegram</em></li>
   <li><a href="https://netsanjplus.ir/">netsanjplus</a> - <em>Iranian ISP Internet Quality Guide</em></li>
   <li><a href="http://targoman.ir/">Targoman</a> - <em>Translator / <a href="https://github.com/targoman">GitHub</a></em></li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><strong><a href="https://www.downloadha.com/">downloadha</a></strong> - <em>Video / Audio / Software / Games / Android</em> </li>
   <li><strong><a href="https://clubfilm4.xyz/">ClubFilm</a></strong> - <em>Movies / TV</em></li>
   <li><a href="https://t.me/TelFiles_Bot">TelFiles_Bot</a> - <em>Persian File to Direct Link Telegram Bot</em> </li>
   <li><a href="https://p30download.ir/">p30download</a> - <em><a href="https://www.proxynova.com/proxy-server-list/country-ir">Use Proxy</a></em> </li>
   <li><a href="https://soft98.ir/">soft98</a> - <em>Software / Courses / eBooks</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_persian_asian_drama_download">Asian Drama Sites (Persian)</a> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_persian_telegram_courses">Persian Telegram Courses</a> </li>
   <li><a href="https://t.me/TeleLeecherbot">TeleLeecherbot</a>, <a href="https://t.me/Moviebleecherbot">Moviebleecherbot</a> or <a href="https://t.me/kLeechBot">kLeechBot</a> - <em>Persian Movie Leech Telegram Bots</em> </li>
   <li><a href="https://t.me/FilmgramBot">FilmgramBot</a> or <a href="https://t.me/FileMovieBot">FileMovieBot</a> - <em>Persian Movie Search Telegram Bots</em> </li>
   <li><a href="https://download.ir/">Download.ir</a> - <em>Software / Video / Android / Games / Roms</em>  </li>
   <li><a href="https://patoghu.com/">Patoghu</a> - <em>Video / Audio / Software / Android / Games</em> </li>
   <li><a href="https://www.doostihaa.com/">Doostihaa</a> - <em>Video / Audio / Software / Games</em> </li>
   <li><a href="https://fileniko.com/">FileNiko</a> - <em>Video / Software / Games</em> </li>
   <li><a href="https://www.nikidaily.info/">nikidaily</a> - <em>Video / Audio</em> </li>
   <li><a href="https://dl1.3rver.org/">dl1.3rver</a>, <a href="https://dl2.3rver.org/">2</a>, <a href="https://dl3.3rver.org/">3</a> - <em>Movies / TV</em></li>
   <li><a href="https://dlfars.pw/">dlfars</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://mellimovies2.tk/">MelliMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://roozdl.com/">RooDL</a> - <em>Movies / TV / Anime / <a href="http://dl.roozdl.com/">Drive</a></em> </li>
   <li><a href="https://movibox.in/">Movibox</a> - <em>Movies / Geo Restricted</em> </li>
   <li><a href="https://heydl.info/">HeyDL</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://mrmovie5.space/">mrmovie</a> - <em>Movies / TV</em> </li>
   <li><a href="https://playstop.ir/">PlayStop</a> - <em>Movies / TV</em> </li>
   <li><a href="https://my3eriestv.space/">my3eriestv</a>, <a href="https://www.my3eries.org/">2</a>, <a href="https://www.myser10.ml/">3</a>, <a href="https://my3eries.xyz/">4</a> - <em>Movies / TV</em></li>
   <li><a href="https://salamdl.me/">SalamDL</a> - <em>Movies / TV</em> </li>
   <li><a href="https://valamovie.club/">ValaMovie</a> - <em>Movies / TV</em> </li>
   <li><a href="https://startdl.life/">StartDL</a> - <em>TV / Anime</em> </li>
   <li><a href="https://baxmovie.com/">BaxMovie</a> - <em>Movies / TV</em> </li>
   <li><a href="https://tik-film.com/">Tik-Film</a> - <em>Movies / TV</em> </li>
   <li><a href="http://namadl.ir/">NamaDL</a> - <em>Movies / TV</em> </li>
   <li><a href="https://gemovie.ir/">GeMovie</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="http://www.ganjdl.ir/">GanjDL</a> - <em>Movies / TV</em> </li>
   <li><a href="https://hymvz.fun/">HyMuZ</a> - <em>Movies / TV</em> </li>
   <li><a href="http://mobomovies4.ir/">MoboMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://karanmovie.org/">KaranMovie</a> - <em>Movies / TV</em></li>
   <li><a href="https://par30media.com/">Par30Media</a> - <em>Movies / TV</em> </li>
   <li><a href="https://hamrahmoviees.ir/">HamrahMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.harmonydl.us/">HarmonyDL</a> - <em>Movies / TV</em> </li>
   <li><a href="https://1topmoviez.pw/">1TopMoviez</a> - <em>Movies / TV</em> </li>
   <li><a href="https://mankan.pw/">Mankan</a> - <em>Movies / TV</em></li>
   <li><a href="https://digimoviez.com/">DigiMoviez</a> - <em>Movies / TV</em> </li>
   <li><a href="https://hexdownload.co/">HexDownload</a> - <em>Movies / TV</em> </li>
   <li><a href="https://mygolchindl.icu/">MyGoldchinDL</a> - <em>Movies / TV</em> </li>
   <li><a href="https://pishgammovie.ir/">pishgammovie</a> - <em>Movies / TV</em> </li>
   <li><a href="https://my-film.pw/">My-Film</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://saber-fun.ir/">Saber-Fun</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://mahanmovie.com/">MahanMovie</a> - <em>Movies / TV</em> </li>
   <li><a href="http://linemovie.ml/">LineMovie</a> - <em>Movies / TV</em> </li>
   <li><a href="https://s1movie.fun/">S1Movie</a> - <em>Movies / TV</em> </li>
   <li><a href="https://persian-moviez.com/">Persian-Moviez</a> - <em>Movies</em> </li>
   <li><a href="https://centerdl.ir/">CenterDL</a> - <em>Movies / TV</em> </li>
   <li><a href="http://a101.ir/">A101</a> - <em>Anime</em> </li>
   <li><a href="https://anidlencodes.xyz/">anidlencodes</a> - <em>Anime</em> </li>
   <li><a href="http://my2amidl.pw/">my2amidl</a> - <em>Anime</em> </li>
   <li><a href="https://otakutales.site/">otakutales</a> - <em>Anime</em></li>
   <li><a href="http://bia2anime99.ml/">bia2anime99</a> - <em>Anime</em></li>
   <li><a href="https://anime-list16.site/">anime-list16</a> - <em>Anime</em></li>
   <li><a href="http://bia2anime20.cf/">bia2anime20</a> - <em>Anime</em></li>
   <li><a href="https://old.anime-list8.gq/">old.anime-list8</a> - <em>Anime</em></li>
   <li><a href="https://animesubtitle.ir/">animesubtitle</a> - <em>Anime</em></li>
   <li><a href="https://filmgozar.com/category/anime/">filmgozar</a> - <em>Anime</em></li>
   <li><a href="https://raygans.top/">raygans</a> - <em>Movies</em> </li>
   <li><a href="https://filmha.top/">filmha</a> - <em>Movies</em> </li>
   <li><a href="https://hamtamovie.run/">HamtaMovie</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="http://umovie.in/">umovie</a> - <em>Movies</em>  </li>
   <li><a href="https://www.film2media.website/">film2media</a> - <em>Movies</em>  </li>
   <li><a href="https://pop-music.ir/">pop-music</a> - <em>Music</em></li>
   <li><a href="https://game4pc.ir">game4pc</a> - <em>Games</em></li>
   <li><a href="https://gold-team.ir/">gold-team</a> - <em>Games / Cracked Online Tutorials</em></li>
   <li><a href="https://t.me/dastras">dastras</a> - <em>Android / Telegram</em> </li>
   <li><a href="https://t.me/git_ir">git_ir</a> - <em>Programming Training</em> </li>
   <li><a href="https://hide01.ir/">Hide01</a> - <em>Security / Antivirus / Courses</em></li>
   <li><a href="http://irmo.site/">Irmo</a> - <em>Download Dubbed Audio</em> </li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://t.me/TorPlaybot">TorPlayBot</a> - <em>Torrent Download Telegram Bot</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><strong><a href="https://clubfilm4.xyz/">ClubFilm</a></strong> - <em>Movies / TV</em></li>
   <li><a href="https://dlfars.pw/">dlfars</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://mellimovies2.tk/">MelliMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://filmha.top/">filmha</a> - <em>Movies</em> </li>
   <li><a href="https://farsiland.com/">FarsiLand</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.livefarsi.com/live-tv.html">LiveFarsi</a> - <em>Movies / TV / Live</em></li>
   <li><a href="https://www.anten.ir/">Anten.ir</a> - <em>Live / TV / Sports</em> </li>
   <li><a href="http://www.persiantvlive.com/">PersianTVLive</a> - <em>Live TV</em></li>
   <li><a href="https://sepehr.irib.ir/">Sepehr</a> - <em>Live TV</em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://www.parsbook.com/">parsbook.com</a> - <em>Educational / Programming / Engineering</em> </li>
   <li><a href="https://iranpaper.ir/">iranpaper</a> - <em>Documents</em> </li>
   <li><a href="https://motamem.org/">Motamem</a> - <em>Courses / Iran ip required</em></li>
</ul>
<hr>
<h1 id="-polish">► Polish</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://animedesu.pl/">animedesu</a> -  <em>Anime / Use Mega or GD in player</em> </li>
   <li><a href="https://www.animezone.pl/">animezone</a> - <em>Anime</em></li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://nitro.to/">Nitro.to</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
   <li><a href="http://www.immortaltorrent.pl/">Immortal Torrent</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
   <li><a href="https://bitnova.info/">BitNova</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
   <li><a href="https://darmowe-torenty.pl/">darmowe</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://zalukaj.cc/">Zalukaj</a> - <em>Movies</em> </li>
   <li><a href="http://repozytorium.fn.org.pl/?q=pl">Repozytorium </a> - <em>Movies</em> </li>
   <li><a href="https://cda-hd.cc/">cda-hd</a> - <em>Movies / TV</em> </li>
   <li><a href="https://filman.cc/">filman.cc</a> - <em>Movies / TV</em> </li>
   <li><a href="https://anime-odcinki.pl/">Anime Odcinki</a> - <em>Anime</em> </li>
   <li><a href="https://animedesu.pl/">animedesu</a> -  <em>Anime / Use Mega or GD in player</em> </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://wolnelektury.pl/">wolnelektury</a> - <em>Books / Fiction</em> </li>
   <li><a href="https://audiobookpl.tumblr.com/">Audiobook PL</a> - <em>Audiobooks</em></li>
   <li><a href="https://pastebin.com/u/k1n013f0ur">K1n013f0ur&#39;s Pastebin</a> - <em>Audiobooks</em></li>
   <li><a href="https://doci.pl/">doci.pl</a> - <em>Documents</em> </li>
   <li><a href="https://docer.pl/">docer.pl</a> - <em>Documents</em> </li>
</ul>
<hr>
<h1 id="-portuguese">► Portuguese</h1>
<ul>
   <li><a href="http://legendaoficial.net/">LegendaOfficial</a>, <a href="https://www.legendasdivx.pt/, [Legendas.tv](http://legendas.tv/">LegendasDivx</a>, <a href="https://legendas.co/">Legendas</a>, <a href="https://legendas.dev/">Legendas.dev</a> or <a href="https://www.legendas-zone.org/">Leganda-Zone</a> - <em>Portuguese Subtitles</em> </li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="http://www.warez-box.com/">Warez-Box</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="https://gtuga.com/">GIGATUGA</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
   <li><a href="https://www.baixarseriesmp4.net/">baixarseriesmp4</a> - <em>Movies / TV / Anime</em>  </li>
   <li><a href="https://tpaportugal.blogspot.com/">TPAPortugal</a> - <em>TV / Anime</em> </li>
   <li><a href="http://osreformados.com/">Os Reformados</a> - <em>Video / Audio / Magazines</em> </li>
   <li><a href="https://tugakids.biz/">Tugakids</a> - <em>Movies / TV / Dubbed / Registration Required</em> </li>
   <li><a href="https://seriesempire.com/">Series Empire</a> - <em>TV</em> </li>
   <li><a href="https://nickloadpt.blogspot.com/">NickloadPT</a> - <em>TV</em> </li>
   <li><a href="https://www.serieswithlove.net/">serieswithlove</a> - <em>TV</em>  </li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://comandotorrents.org/">Comando Torrents</a> - <em>Movies / TV</em> </li>
   <li><a href="https://ondebaixa.com/">Onde Baixa</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://seriesfilmestorrent.net/">SeriesFIlmesTorrent</a> - <em>Movies / TV / Anime</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://mrpiracy.site/">Mr. Piracy</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://gofilmes.me/hd/">GoFilmes</a> - <em>Movies / TV</em> </li>
   <li><a href="https://animesonline.cc/">Animes Online</a> - <em>Anime</em></li>
   <li><a href="https://animefire.net/">AnimeFire</a> - <em>Anime</em> </li>
   <li><a href="https://yayanimes.net/">YayAnime</a> - <em>Anime</em> </li>
   <li><a href="https://animesvision.biz/">AnimeVision</a> - <em>Anime</em> </li>
   <li><a href="https://anipt.net/">AniPT</a> - <em>Anime / Cartoons</em> </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://lelivros.love/">Le Livros</a> - <em>Books</em> </li>
   <li><a href="https://tudodebomemaudiobooks.blogspot.com/">Tudo De Bom em Audiolivros</a> - <em>Audiobooks</em></li>
</ul>
<hr>
<h1 id="-romanian">► Romanian</h1>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://extremlymtorrents.ws/">extremlymtorrents</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="http://www.filmeserialeonline.org/">FSOline</a> -  <em>Movies / TV</em> </li>
   <li><a href="https://hindilover.biz/">HindiLover</a> - <em>TV</em></li>
</ul>
<hr>
<h1 id="-russian">► Russian</h1>
<ul>
   <li><a href="https://t.me/roskomsvoboda_discuss">РосКомСвобода</a> - <em>Piracy Discussion Telegram</em></li>
   <li><a href="https://dxp.ru/">DXP</a> - <em>Torrent / Subtitles</em></li>
   <li><a href="https://tlaun.ch/">TLauncher Legacy</a> - <em>Minecraft Client / Cracked Minecraft</em></li>
   <li><a href="https://netwhood.online/">netwhood</a> - <em>Communication Network</em></li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://dchublist.ru/hubs/">dchublist</a> - <em>Warez / List</em></li>
   <li><a href="https://reestr.rublacklist.net/?status=1&amp;gov=4&amp;paginate_by=50">rublacklist</a>, <a href="https://reestr.rublacklist.net/?status=1&amp;gov=24&amp;paginate_by=50">2</a> - <em>Warez list</em> </li>
   <li><a href="https://nemo-crack.org/">nemo-crack</a> - <em>Video / Audio / Software / Games / Roms / Books</em>  </li>
   <li><a href="http://cwer.ru/">cwer</a> - <em>Video / Audio / Software / Games / Android</em>  </li>
   <li><a href="https://rsload.net/">rsload</a> - <em>Software / Android / Games</em></li>
   <li><a href="http://2baksa.ws/">2BakSa</a> - <em>Video / Audio / Games / Software / Books</em> </li>
   <li><a href="https://kinogo.la/">kinogo</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://allmults.org/">allmults</a> - <em>Movies</em>  </li>
   <li><a href="https://diakov.net/">DIAKOV</a> - <em>Software</em> </li>
   <li><a href="https://lrepacks.ru/">LRepacks</a> - <em>Software</em> </li>
   <li><a href="http://www.muzlishko.ru/">muzlishko</a> - <em>Music / MP3</em></li>
   <li><a href="https://pesnigoo.ru/">pesnigoo</a> - <em>Music / MP3</em>  </li>
   <li><a href="https://tancpol.net/">Tancpol</a> - <em>Music / MP3</em></li>
   <li><a href="https://t.me/shazam_music_uz">Shazam Music</a> - <em>Music / MP3</em> </li>
   <li><a href="https://metalarea.org/">MetalArea</a> - <em>Metal Music / MP3</em>  </li>
   <li><a href="https://vk.com/mdcore">MDCORE</a> - <em>Metal Music / MP3</em></li>
   <li><a href="https://vk.com/mdrock">MDROCK</a> - <em>Rock Music / MP3</em></li>
   <li><a href="https://www.androeed.ru/">androeed</a> - <em>Android</em> </li>
   <li><a href="https://4pda.ru/forum/">4pda</a> - <em>Android / iOS</em></li>
   <li><a href="https://pdalife.ru/">PDALIFE</a> - <em>Android / iOS / PSP</em>  </li>
   <li><a href="https://coursehunter.net/">Course Hunter</a> - <em>Programming / Courses</em> </li>
   <li><a href="https://prowebber.ru/">prowebber</a> - <em>Nulled Webmaster Scripts</em></li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://www.uptracker.ru/">UpTracker</a> - <em>Torrent Tracker Index</em></li>
   <li><a href="https://krasfs.ru/">krasfs</a> - <em>Torrent Search</em> </li>
   <li><a href="http://torrent.by/">torrent.by</a> - <em>Torrent Search</em> </li>
   <li><a href="http://rutracker.org">RuTracker</a> - <em>Video / Audio / Games / Software / Android / Comics / Magazines + <a href="http://rutrackerripnext.onion/">Onion</a></em></li>
   <li><a href="http://rutracker.ru/">rutracker.ru</a> - <em>Video / Audio / Games / Books / Software / Android / NSFW</em> </li>
   <li><a href="http://rutor.info/">rutor</a> - <em>Video / Audio / Games / Software / Books / Roms / Magazines</em></li>
   <li><a href="http://www.nntt.org/">NNTT</a> - <em>Video / Audio / Software / Games / Books / Magazines / Android</em> </li>
   <li><a href="https://dark-os.com/">Dark-OS</a> - <em>Video / Audio / Software / Games / Roms / Books / Magazines / Android / NSFW</em></li>
   <li><a href="http://rus-media.org/">Rus-Media</a> - <em>Video / Audio / Software / Games / Roms / Books / Magazines / Android / NSFW</em></li>
   <li><a href="http://uraltrack.net/">URALTRACK</a> - <em>Video / Audio / Software / Games / Roms / Books / Magazines</em></li>
   <li><a href="https://pb.wtf/">PB.wtf</a> - <em>Video / Audio / Software / Games / Books / Comics / Magazines / Android / NSFW</em> </li>
   <li><a href="http://ivtracker.org/">IvTracker</a> - <em>Video / Audio / Software / Games / Roms / Books / Magazines / Android / NSFW</em></li>
   <li><a href="https://iv-torrents.com/">IV-Torrents</a> - <em>Video / Audio / Software / Games / Roms / Books / Android / NSFW</em></li>
   <li><a href="http://riperam.org/">Riper.AM</a> - <em>Video / Audio / Software / Games / Books / Magazines / Android / NSFW</em></li>
   <li><a href="https://tapochek.net/">Tapochek</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="https://katushka.fun/">katushka</a> - <em>Video / Audio / Software / Books</em> </li>
   <li><a href="http://korsars.pro/">Korsars</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="https://kinogo-enta.ru/">torrent-big</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="http://uniondht.org/">nionDHT</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
   <li><a href="http://emtrek.org/">emtrek</a> - <em>Video / Audio / Software / Games / Android</em> </li>
   <li><a href="https://seedoff.zannn.top/">SeedOff</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="http://rustorka.com/forum/index.php">rustorka</a> - <em>Games / Roms / Audio / Books / Magazines / Software / Android / Video</em> </li>
   <li><a href="https://torrent24.ru/">Torrent24</a> - <em>Video / Audio / Games</em></li>
   <li><a href="https://hdreactor.club/">HDReactor</a> - <em>Movies / Games / NSFW</em> </li>
   <li><a href="http://dugtor.ru/">DugTor</a> - <em>Video / Audio / Software / Games</em> </li>
   <li><a href="https://nnmclub.to/">NNM-Club</a> - <em>Video / Audio / Software / Games</em> </li>
   <li><a href="http://zlotracker.org/">ZLOTracker</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="http://alltorrents.net/">AllTorrents</a> - <em>Video / Audio / Software / Games / Roms</em></li>
   <li><a href="http://goldtracker.org/">GOLDtracker</a> - <em>Video / Audio / Games / Books</em></li>
   <li><a href="http://spaider.net/">Spaider</a> - <em>Video / Audio / Software / Games / Roms</em></li>
   <li><a href="http://ddgroupclub.win/">DDGroupClub</a> - <em>Video / Audio / Software / Games / Roms / Books</em></li>
   <li><a href="https://hdreactor.club/">HDReactor</a> - <em>Video / Audio / Games / NSFW</em></li>
   <li><a href="http://gtorrent.pro/">GTorrent</a> - <em>Video / Audio / Software / Games</em></li>
   <li><a href="http://utor.pp.ua/">Utor.pp</a> - <em>Video / Audio / Software / Games / Roms / Books</em></li>
   <li><a href="http://fast-torrent.ru/">Fast torrent</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="http://firebit.org/">FireBit</a> - <em>Video / Audio / Software / Games / Books</em></li>
   <li><a href="https://bigfangroup.org/">BigFanGroup</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://torrentss.ru/">torrentss</a> - <em>Movies / TV / Games / Music</em> </li>
   <li><a href="http://bytorent.ru/">ByTorent</a> - <em>Video / Audio / Software</em></li>
   <li><a href="http://animelayer.ru/">Animelayer</a> - <em>Anime</em> </li>
   <li><a href="http://films-torrent.ru/">TFILMS</a> - <em>Movies / TV</em> </li>
   <li><a href="http://torrent.northnet.ru/">Torrent.Northnet</a> - <em>Movies / TV</em></li>
   <li><a href="http://hdgalaktik.com/">HDGALAKTIKA</a> - <em>Movies</em></li>
   <li><a href="http://kinozal.tv/">kinozal</a> - <em>Movies</em> </li>
   <li><a href="http://toreents.club/">toreents.club</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://underver.se/">Underver</a> - <em>Movies / TV</em></li>
   <li><a href="http://www.filebase.ws/">FileBase</a> - <em>Movies</em> </li>
   <li><a href="https://androidkino.net/">androidkino</a> - <em>Movies / TV</em> </li>
   <li><a href="https://bitru.org/">bitru</a> - <em>Movies</em> </li>
   <li><a href="https://darklibria.it/">DarkLibria</a> - <em>Anime</em></li>
   <li><a href="http://rgfootball.net/">RGFootball</a> - <em>Sports</em></li>
   <li><a href="https://tuttop.com/">туттоп</a> - <em>Games</em></li>
   <li><a href="https://link21.torrent-games.su/">Torrent-Games</a> - <em>Games</em> </li>
   <li><a href="http://big-games.info/">Big-Games</a> - <em>Games</em> </li>
   <li><a href="https://small-games.info/">Small-Games</a> - <em>Small Games</em></li>
   <li><a href="https://hit-muzik.ru/">hit-muzik</a> - <em>Music / MP3</em> </li>
   <li><a href="http://vrocke.info/">vrocke</a> - <em>Music / MP3</em> </li>
   <li><a href="http://www.opamuzika.ru/">opamuzika</a> - <em>Music / MP3</em>  </li>
   <li><a href="https://flactor.ru/">Flactor</a> - <em>Music / FLAC</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://rezka.ag/">rezka</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="http://baskino.me/">baskino</a> - <em>Movies</em></li>
   <li><a href="https://kinogo.la/">kinogo</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://kinotochka.co/">Kinotochka</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://filmix.co/">filmix</a> - <em>Movies</em></li>
   <li><a href="https://kinokong.org/">kinokong</a> - <em>Movies / TV</em> </li>
   <li><a href="https://russianfilmhub.com/">RussianFilmHub</a> - <em>Movies / TV</em></li>
   <li><a href="https://viho.live/">viho.live</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://hdzo.tv/">hdzo</a> - <em>Movies / TV</em></li>
   <li><a href="http://seasonvar.ru/">seasonvar</a> - <em>TV</em></li>
   <li><a href="http://kino-dom.org/">Kino-Dom</a> - <em>TV</em></li>
   <li><a href="http://www.otakustudio.tv/">otakustudio</a> - <em>Anime</em> </li>
   <li><a href="https://darklibria.it/">DarkLibria</a> - <em>Anime</em></li>
   <li><a href="https://sovietmoviesonline.com/cartoons">Soviet Movies Online</a> - <em>Cartoons</em> </li>
   <li><a href="https://www.dokonlin.ru/">Dokonlin.ru</a> - <em>Documentaries</em>   </li>
   <li><a href="https://vsedoramy.net/">VseDoramy</a> - <em>Asian Drama</em></li>
   <li><a href="http://livetv.sx/">livetv</a> - <em>Live Sports</em>  </li>
   <li><a href="https://myzuka.club/">myzuka</a> - <em>Music</em></li>
   <li><a href="http://www.muzlishko.ru/">muzlishko</a> - <em>Music</em></li>
   <li><a href="https://pesnigoo.ru/">pesnigoo</a> - <em>Music</em>  </li>
   <li><a href="https://tancpol.net/">Tancpol</a> - <em>Music</em></li>
   <li><a href="https://vk.com/mdcore">MDCORE</a> - <em>Metal Music</em></li>
   <li><a href="https://getvideocatalog.li/">HDVideoBox</a> - <em>Movies / TV / Anime / Android / <a href="https://forum.mobilism.me/viewtopic.php?f=429&amp;t=4190691&amp;hilit=HD+Videobox">Mobilism</a></em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://redd.it/kne0ba">VK Book DL Pages</a> </li>
   <li><a href="http://loveread.ec/">LoveRead.ec</a> - <em>Books / Fiction / Non Fiction / NSFW</em></li>
   <li><a href="http://lib.ru/">Lib.ru</a> - <em>Books / Fiction / Nonfiction</em></li>
   <li><a href="https://flibusta.is/">Flibusta</a> - <em>Books + <a href="http://flibustahezeous3.onion/">Onion</a> / Requires account</em></li>
   <li><a href="https://www.twirpx.com/">Twirpx</a> - <em>Book / Educational</em> </li>
   <li><a href="https://www.kodges.ru/">kodges</a> - <em>Books / Fiction / Non Fiction</em> </li>
   <li><a href="https://royallib.com/">royallib</a> - <em>Books / Fiction / Non Fiction</em>  </li>
   <li><a href="https://coollib.xyz/">coollib</a> - <em>Books / Fiction / Non Fiction</em> </li>
   <li><a href="https://www.rulit.me/">rulit</a> - <em>Books / Fiction / Non Fiction</em> </li>
   <li><a href="http://sblib3fk2gryb46d.onion/">sblib</a> - <em>Books / .onion</em> </li>
   <li><a href="http://mirknig.su/">MirKnig.sur </a> - <em>Books / Fiction / Nonfiction</em> </li>
   <li><a href="https://booktracker.org/">booktracker</a> - <em>Books / Audiobooks / Comics / Magazines / NSFW</em> </li>
   <li><a href="http://rusmanga.ru/">rusmanga</a> - <em>Manga</em> </li>
   <li><a href="https://readmanga.live/">readmanga</a> - <em>Manga</em> </li>
   <li><a href="https://www.mmnt.ru/">mmnt</a> - <em>Document Search</em> </li>
   <li><a href="http://samlib.ru/">Samlib </a> - <em>Document Search</em> </li>
   <li><a href="http://militera.org/">militera</a> - <em>Military History</em> </li>
   <li><a href="https://commons.princeton.edu/soviet/">Playing Soviet</a> - <em>Children&#39;s Books</em></li>
   <li><a href="https://cyberleninka.ru/">CyberLeninka</a> - <em>Articles / Educational / Scientific / Legal</em>  </li>
   <li><a href="https://baza-knig.ru/">Baza Knig</a>, <a href="https://akniga.org/">Аудиокниги Клуб</a>, <a href="https://a-book.info/">A-Book</a>, <a href="https://m.bibl.us/">Bibl</a>, <a href="https://knizhkin.net/">Knizhkin</a>, <a href="https://aknigionline.ru/">Aknigi Online</a>, <a href="http://abook-club.ru/">A Book Club</a>, <a href="https://bibl.us/">Bibl.us</a> - <em>Audiobooks</em></li>
</ul>
<hr>
<h1 id="-spanish">► Spanish</h1>
<ul>
   <li><a href="https://www.championcat.cl/catflix/">Catflix</a> - <em>Cats!</em></li>
</ul>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://identi.io/">identi</a> - <em>Video / Audio / Software / Games</em> </li>
   <li><a href="https://forowarez.net/">Foro Warez</a> - <em>Video / Audio / Software / Games / Books / Comics</em> </li>
   <li><a href="http://www.chilecomparte.cl/">ChileComparte</a> - <em>Video / Audio / Software / Books / Magazines / Comics / Android</em> </li>
   <li><a href="https://www.compucalitv.com/">CompucaliTV</a> - <em>Video / Software / Games</em></li>
   <li><a href="https://gamesmega.net/">GamesMega</a> - <em>Games / Roms</em> </li>
   <li><a href="https://www.divxonline.tv/">divxonline</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.cinecalidad.is/">Cine Calidad</a> - <em>Movies</em></li>
   <li><a href="https://hawkmenblues.net/">Filmoteca Hawkmenblues</a> - <em>Movies</em></li>
   <li><a href="https://somosmovies.com/">SomosMovies</a> - <em>Movies</em> </li>
   <li><a href="https://www.micinehd.com/">MiCineHD </a> - <em>Movies / TV</em> </li>
   <li><a href="https://descargasdd.net/">DescargasDD</a> - <em>Movies / TV</em> </li>
   <li><a href="https://redd.it/ns0y6c">Movies, Series ... in Spanish</a> - <em>Movies / TV</em></li>
   <li><a href="https://t.me/cinema480p">Peliculas 480p</a> - <em>Movies / Telegram</em> </li>
   <li><a href="http://fina.dyndns.tv/">dyndns</a> - <em>TV</em>  </li>
   <li><a href="https://ddl.ice-blue.workers.dev/0:/">ddl.ice</a> - <em>Anime</em></li>
   <li><a href="https://t.me/DownloadsMega">DownloadsMega</a> - <em>Video / Audio / Telegram</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_spanish_anime_telegram">Spanish Anime Telegram Channels</a></li>
   <li><a href="https://tododescargas.net/">Tododescargas</a> - <em>Software</em> </li>
   <li><a href="https://victorraulrr.info/">VictorRaulRR</a> - <em>Modded APKs</em></li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://www.mejortorrents.net/">Mejor Torrent</a>, <a href="https://www.mejortorrento.net/">2</a> - <em>Video / Audio / Software / Games</em>  </li>
   <li><a href="https://dontorrent.net/">dontorrent</a> - <em>Video / Audio / Games</em> </li>
   <li><a href="https://www.divxtotal.one/">DivxTotal</a> - <em>Movies / TV / Software</em> </li>
   <li><a href="https://www.elitetorrent.com/">EliteTorrent</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://zonatorrent.tv/">zonatorrent</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.divxonline.tv/">divxonline</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.moviesdvdr.co/">MoviesDVDR</a> - <em>Movies</em> </li>
   <li><a href="http://animextremist.com/">Animextremist</a> - <em>Anime / Manga</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://hdfull.lv/">HDFull</a> - <em>Movies / TV / Anime</em>  </li>
   <li><a href="https://seriesflix.to/">seriesflix</a> - <em>TV</em> </li>
   <li><a href="https://cuevana3.io/">Cuevana3</a> - <em>Movies / TV</em> </li>
   <li><a href="https://pelisplus.me/">Pelisplus</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.pelispedia.de/">Pelispedia</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.pelispedia2.vip/">Pelispedia 2</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.pelispedia.li/">Pelispedia.li</a> - <em>Movies / TV</em> </li>
   <li><a href="https://pelisap.com/">Pelisap</a> - <em>Movies / TV</em> </li>
   <li><a href="https://pelisflix.io/">PelisFlix</a> - <em>Movies / TV</em> </li>
   <li><a href="https://gnula.se/">G Nula</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="http://gnula.nu/">gnula.nu</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.cliver.to/">Cliver</a> - <em>Movies</em></li>
   <li><a href="https://homecine.me/">HomeCine</a> - <em>Movies</em> </li>
   <li><a href="https://zoowoman.website/">Zoowoman</a> - <em>Movies</em> </li>
   <li><a href="https://roma.polpo.tv/">PolpoTV</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://www.yape.nu/">Yape</a> - <em>Movies / TV</em> </li>
   <li><a href="https://pelis24.vip/">Pelis24</a> - <em>Movies / TV</em> </li>
   <li><a href="https://danimados.com">Danimados</a> - <em>TV / Anime</em></li>
   <li><a href="https://novelas360.com/">novelas360</a> - <em>TV</em></li>
   <li><a href="https://optimovision.tv/">optimovision</a> - <em>TV</em></li>
   <li><a href="https://hindilover.biz/">HindiLover</a> - <em>TV</em></li>
   <li><a href="https://www.dilo.nu/">Dilo</a> - <em>TV / Anime</em> </li>
   <li><a href="https://epizode.ws/">Epizode</a> - <em>TV</em>  </li>
   <li><a href="https://jkanime.net/">JKAnime</a> - <em>Anime</em> </li>
   <li><a href="https://animefenix.com/">AnimeFénix</a> - <em>Anime</em></li>
   <li><a href="https://tioanime.com/">TioAnime</a> - <em>Anime</em></li>
   <li><a href="https://www3.animeflv.net/">Animeflv</a> - <em>Anime</em></li>
   <li><a href="https://www.anitube.site/">Anitube</a> - <em>Anime</em> </li>
   <li><a href="https://animeblix.com/">animeblix</a> - <em>Anime</em> </li>
   <li><a href="https://animeyt.club/">AnimeYT</a> - <em>Anime</em> </li>
   <li><a href="https://www.animeonlinesub.com/">Anime Online Sub</a> - <em>Anime</em> </li>
   <li><a href="https://monoschinos2.com/">Monoschinos</a> - <em>Anime</em> </li>
   <li><a href="https://danimados.com/">danimados</a> - <em>Cartoons</em></li>
   <li><a href="https://serieslan.com/">serieslan</a> - <em>Cartoons</em></li>
   <li><a href="https://www.blogdepelis.tv/">Blog De Plis</a> - <em>Spanish Disney+</em> </li>
   <li><a href="https://noirestyle.com/">NoireStyle</a> - <em>Film Noir</em> </li>
   <li><a href="https://ukiku.ga/">UKIKU</a> - <em>Anime apk</em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://www.epublibre.org/">epublibre</a> - <em>Books / Fiction / Non Fiction</em>  </li>
   <li><a href="https://www.holaebook.com/">Hola Ebook</a> - <em>Books / Fiction / Non Fiction</em></li>
   <li><a href="https://ebiblioteca.org/">ebiblioteca</a> - <em>Books / Non Fiction</em> </li>
   <li><a href="https://descargalibrosxd.com/">Libros Gratis</a> - <em>Books / Fiction / Non Fiction</em></li>
   <li><a href="https://zonadelibrosxyz.com/">Libros Gratis XYZ</a> - <em>Fiction / Non Fiction</em></li>
   <li><a href="https://bajaebooksgratis.com/">bajaebooksgratis</a> - <em>Books / Fiction / Non Fiction</em> </li>
   <li><a href="https://pirateca.com/">pirateca</a> - <em>Books / Fiction / Non Fiction</em> </li>
   <li><a href="https://lelibros.online/">lelibros</a> - <em>Books / Fiction / Non Fiction</em> </li>
   <li><a href="https://wvw.epubgratis.org/">ePub Gratis</a> - <em>Books /Fiction / Non fiction</em> </li>
   <li><a href="https://albalearning.com/">albalearning</a> - <em>Audiobooks</em> </li>
   <li><a href="https://leomanga.me/">leomanga</a> - <em>Manga</em> </li>
   <li><a href="http://mangadoor.com/">mangadoor</a> - <em>Manga</em> </li>
   <li><a href="https://ninemanga.net/">Ninemanga</a> - <em>Manga</em> </li>
   <li><a href="http://heavenmanga.com/">HeavenManga</a> - <em>Manga</em> </li>
   <li><a href="https://submanga.io/">SubManga</a> - <em>Manga</em> </li>
   <li><a href="https://inmanga.com/">InManga</a> - <em>Manga</em> </li>
   <li><a href="https://t.me/MangasEnPdf">MangasEnPdf</a> - <em>Manga / Telegram</em> </li>
   <li><a href="https://t.me/tupropiaaventura_bot">tupropiaaventura_bot</a> - <em>Books / Telegram</em> </li>
</ul>
<hr>
<h1 id="-tamil">► Tamil</h1>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://www.1tamilcrow.com/">TamilCrow</a> - <em>Movies / TV</em></li>
   <li><a href="http://tamilyogi.cool/">TamilYogi</a>, <a href="http://tamilyogi.best/">2</a> - <em>Movies</em></li>
   <li><a href="https://tamilgun.tw/">tamilgun.tw</a> - <em>Movies / TV</em></li>
</ul>
<hr>
<h1 id="-thai">► Thai</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="https://anime-sugoi.com/">anime-sugoi</a> - <em>Anime / <a href="http://free-proxy.cz/en/proxylist/country/TH/all/ping/all">Proxy</a></em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://movie222hd.com/">movie222hd</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.doomovie-hd.com/">doomovie-hd</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.037hdmovie.com/">037hdmovie</a> - <em>Movies</em> </li>
   <li><a href="https://movie11.com/">movie11</a> - <em>Movies</em> </li>
   <li><a href="https://anime-sugoi.com/">anime-sugoi</a> - <em>Anime / <a href="http://free-proxy.cz/en/proxylist/country/TH/all/ping/all">Proxy</a></em></li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://www.niceoppai.net/">niceoppai</a> - <em>Manga</em> </li>
   <li><a href="https://www.kingsmanga.net/">kingsmanga</a> - <em>Manga</em></li>
</ul>
<hr>
<h1 id="-turkish">► Turkish</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="http://www.mayonez.net/">Mayonez</a> - <em>Video / Books / Magazines / Games / Android / GFX Software</em></li>
   <li><a href="https://www.fullhdfilmizlesene.com/">Fullhdfilmizlesene</a> - <em>Movies / Choose Voltran &amp; press &quot;скачать&quot; for DL&#39;s</em>  </li>
   <li><a href="https://www.mp3indirdur.mobi/">MP3 Indir</a> - <em>Music</em> </li>
</ul>
<h2 id="-torrenting">▷ Torrenting</h2>
<ul>
   <li><a href="https://www.fulloyun.net/">FullOyun</a> - <em>Games</em> </li>
   <li><a href="https://www.torrent-oyun.com/">Torrent-Oyun</a> - <em>Games</em> </li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://www.fullhdfilmizlesene.com/">Fullhdfilmizlesene</a> - <em>Movies / Choose Voltran &amp; press &quot;скачать&quot; for DL&#39;s</em> </li>
   <li><a href="https://jetfilmizle.live/">JetFilmizle</a> - <em>Movies / TV</em> </li>
   <li><a href="https://yabancifilm.vip/">YabanciFilm</a> - <em>Movies / TV</em> </li>
   <li><a href="https://720pizle.net/">720pizle</a> - <em>Movies </em></li>
   <li><a href="https://www.hdfilmcehennemi.net/">hdfilmcehennemi</a> - <em>Movies / TV</em></li>
   <li><a href="https://turkish123.com/">turkish123</a> - <em>TV</em> </li>
   <li><a href="https://hindilover.biz/">HindiLover</a> - <em>TV</em></li>
   <li><a href="https://www.turkanime.net/">TurkAnime</a> - <em>Anime</em> </li>
</ul>
<hr>
<h1 id="-vietnamese">► Vietnamese</h1>
<h2 id="-downloading">▷ Downloading</h2>
<ul>
   <li><a href="http://www.hdvietnam.com/forums/">HDVietnam</a> - <em>Video / Audio / Software</em></li>
   <li><a href="https://freehd.me/">freehd</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://chiasenhac.vn/">chiasenhac</a> - <em>Music</em></li>
</ul>
<h2 id="-streaming">▷ Streaming</h2>
<ul>
   <li><a href="https://dongphym.net/">Động Phim</a> - <em>Movies / TV</em> </li>
</ul>
<h2 id="-reading">▷ Reading</h2>
<ul>
   <li><a href="https://sharescript.net/">ShareScript </a> - <em>Script / Code Index</em></li>
</ul>
<hr>
<h1 id="-other-languages">► Other Languages</h1>
<ul>
   <li><a href="https://redd.it/gehkl0">Non-English Ebook &amp; Audiobook Sites</a></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_asian_drama_sites">Asian Drama Sites</a></li>
   <li><a href="http://www.jiorockers.uk/">JioRockers</a> - <em>Indian Languages / Streaming / Movies</em></li>
   <li><a href="https://4movierulz.gg/">4MovieRulz</a> - <em>Indian Languages / Download / Movies</em></li>
   <li><a href="https://www.v100v.net/">v100v.net</a> - <em>Indian Languages / Streaming / Movies</em></li>
   <li><a href="https://tamilblasters.unblockit.onl/">TamilBlasters</a> - <em>Indian Languages / Torrent / Movies</em></li>
   <li><a href="https://t.me/indianebooks">indianebooks</a> - <em>Indian Languages / Books</em></li>
   <li><a href="https://www.onlinefmradio.in/">OnlineFMRadio</a> - <em>Indian Languages / Radio</em></li>
   <li><a href="https://einthusan.tv/intro/">Einthusan</a> - <em>South Asian Films Archive</em></li>
   <li><a href="https://wlext.is/">wlext</a> - <em>Turkish / Filipino / Thai / Streaming / Movies</em></li>
   <li><a href="https://klikfilm.org/">KlikFilm</a> - <em>Serbian / Streaming / Movies / TV</em></li>
   <li><a href="https://t.me/GeezLibrary">GeezLibrary</a> - <em>Amharic / Books</em></li>
   <li><a href="https://www.filma24.ai/">filma24</a> - <em>Albanian / Streaming / Movies / TV</em></li>
   <li><a href="https://lupiteam.net/">lupiteam</a> - <em>Corsican / Manga</em></li>
   <li><a href="https://www.ruv.is/ruv">RÚV</a> - <em>Icelandic / Live TV</em></li>
   <li><a href="https://www.kannadacine.com/">KannadaCine</a> - <em>Kannada / Streaming / Movies</em></li>
   <li><a href="https://www.filmarkivet.se/">Filmarkivet</a> - <em>Swedish / Short Films</em></li>
   <li><a href="https://t.me/cc_NewMalayalamMp3">Malayalam Film Songs</a> - <em>Malaysian / Audio / Telegram</em></li>
   <li><a href="https://pinoymovies.de/">PinoyMovies</a> - <em>Filipino / Stream / Download / Movies</em> </li>
   <li><a href="https://9jaflaver.com/">9jaflaver</a> - <em>Nigerian / MP3</em></li>
   <li><a href="https://emilianog94.github.io/Steamcito-Precios-Steam-Argentina-Impuestos-Incluidos/landing/index.html">Steamcito</a> - <em>Converts Steam Prices to Argentine Pesos</em></li>
</ul>
</div>
</template>
<script>
export default {
  name: 'ne'
}
</script>

<style>

</style>