<template>
<div class="content">
  <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://imgur.com/a/eWmtM8v">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-vpn-guide-ai-">► <a href="/apa">VPN Guide</a></h1>
<hr>
<h1 id="-torrent-clients">► Torrent Clients</h1>
<ul>
   <li><strong><a href="https://www.qbittorrent.org/">qBittorrent</a></strong> - <em><a href="https://i.imgur.com/B9KBUXs.png">Screenshot</a></em></li>
   <li><strong>qBittorrent Tools</strong> - <a href="https://www.ghacks.net/2016/03/23/qbittorrent-block-transfers-vpn-disconnect/">VPN Bind (Important)</a> / <a href="https://github.com/qbittorrent/search-plugins#search-plugins">Plugins</a> / <a href="https://github.com/c0re100/qBittorrent-Enhanced-Edition">Enhanced</a> / <a href="https://github.com/jagannatharjun/qbt-theme">Themes</a> / <a href="https://github.com/ntoporcov/iQbit/">iOS Theme</a> / <a href="https://github.com/linuxserver/docker-qbittorrent">Docker</a> / <a href="https://github.com/WDaan/VueTorrent">WebUI</a> / <a href="https://colab.research.google.com/github/Xavy-13/qbittorrent/blob/main/qBittorrent_MEGA.ipynb">Mega Upload</a> / <a href="https://colab.research.google.com/github/Xavy-13/qbittorrent/blob/main/qBittorrent.ipynb">Gdrive Upload</a></li>
   <li><strong><a href="https://transmissionbt.com/">Transmission</a></strong> - <em><a href="https://i.imgur.com/IjdECzR.png">Screenshot</a></em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_torrent_to_gdrive">Torrent to GDrive</a></strong> - <em>Download Torrents to Google Drive</em></li>
   <li><a href="https://multiup.org/en/upload/from-torrent">from-torrent</a> - <em>Upload Torrent Files to DDL Sites / <a href="https://i.imgur.com/ChMcdq8.png">Bypass 10GB Limit</a></em></li>
   <li><a href="https://www.deluge-torrent.org/">Deluge</a> - <em><a href="https://i.imgur.com/RbQUHpF.png">Screenshot</a></em></li>
   <li>Deluge Tools - <a href="https://dev.deluge-torrent.org/wiki/Plugins">Plugins</a> / <a href="https://github.com/omaralvarez/deluge-autoremoveplus">Auto-Remove</a> / <a href="https://github.com/ratanakvlun/deluge-ltconfig/releases">Config</a> / <a href="https://github.com/noam09/deluge-telegramer">Telegram Plugin</a></li>
   <li><a href="https://tixati.com/">Tixati</a> - <em><a href="https://i.imgur.com/joYQzTw.png">Screenshot</a></em> </li>
   <li><a href="https://motrix.app/">Motrix</a> - <em><a href="https://i.imgur.com/Zrw6l8q.png">Screenshot</a> / <a href="https://github.com/agalwood/Motrix">GitHub</a></em></li>
   <li><a href="https://picotorrent.org/">Picotorrent</a> - <em><a href="https://i.imgur.com/46oF1iD.png">Screenshot</a></em></li>
   <li><a href="https://www.frostwire.com/">FrostWire</a> - <em><a href="https://i.imgur.com/3wJSJmg.png">Screenshot</a></em></li>
   <li><a href="https://tornado-torrent.gitlab.io/">Tornado</a> - <em><a href="https://i.imgur.com/H3mvifU.png">Screenshot</a></em></li>
   <li><a href="https://www.biglybt.com/">BiglyBT</a> - <em><a href="https://i.imgur.com/Gopf4tZ.png">Screenshot</a></em> </li>
   <li><a href="https://www.freedownloadmanager.org/">Free Download Manager</a> - <em><a href="https://sourceforge.net/projects/freedownload/">Sourceforge</a></em></li>
   <li><a href="https://www.tribler.org/">Tribler</a> - <em>Tor-inspired Client / <a href="https://i.imgur.com/IzmanCf.png">Screenshot</a> / <a href="https://github.com/Tribler/tribler">Github</a></em></li>
   <li><a href="https://aria2.github.io/">aria2</a> - <em>Terminal Torrent Client / <a href="https://i.imgur.com/KV0pSjt.png">Screenshot</a> / <a href="https://github.com/aria2/aria2">Github</a></em></li>
   <li><a href="https://github.com/nektro/mtorrent">mtorrent</a> - <em>Terminal Torrent Client</em> </li>
   <li><a href="https://www.libtorrent.org/">libtorrent</a> - <em>C++ BitTorrent Client</em></li>
   <li><a href="https://github.com/DEgITx/rats-search">Rats Search</a> - <em>Torrent Search Client / <a href="https://github.com/DEgITx/rats-search#screenshots">Screenshot</a></em> </li>
   <li><a href="http://www.vlcstreamer.com/">VLC Torrent Streamer</a> - <em>Stream torrents in VLC</em></li>
   <li><a href="https://decentnet.github.io/blog/20200329-download-torrents-through-i2p.html">Download Torrents Through I2P</a></li>
   <li><a href="https://www.loadbt.com/">Loadbt</a> - <em>Torrent / Stream to Cloud</em>  </li>
   <li><a href="https://github.com/JohnDoee/spreadsheetui">SpreadsheetUI</a> - <em>Speadsheet Torrent webUI</em> </li>
   <li><a href="https://github.com/jfurrow/flood">flood</a> - <em>Web UI for rTorrent, qBittorrent &amp; Transmission</em> </li>
   <li><a href="https://swizzin.ltd/">swizzin</a> - <em>All-in-one Seedbox Solution for Ubuntu / Debian</em> </li>
   <li><a href="https://github.com/arakasi72/rtinst">rtinst</a> - <em>Seedbox Installation Script for Ubuntu / Debian</em> </li>
   <li><a href="https://rakshasa.github.io/rtorrent/">rTorrent</a> / <a href="https://github.com/rakshasa/rtorrent">2</a>, <a href="http://bitflu.workaround.ch/">BitFlu</a> or <a href="https://apps.kde.org/en/ktorrent">kTorrent</a> / <a href="https://invent.kde.org/network/ktorrent">2</a> - <em>Linux Torrent Client</em> </li>
   <li>rTorrent Tools - <a href="https://github.com/pyroscope/rtorrent-ps">Extended</a> / <a href="https://github.com/pyroscope/pyrocore">Tools</a> / <a href="https://calomel.org/rtorrent_mods.html">Mods</a> / <a href="https://github.com/AkdM/rutorrent-all-seeders">All Seeders Column</a></li>
   <li><a href="https://github.com/Novik/ruTorrent">RuTorrent</a> - <em>RTorrent Web Frontend / <a href="https://github.com/InAnimaTe/rutorrent-themes">Themes</a>, <a href="https://github.com/artyuum/3rd-party-ruTorrent-Themes">2</a></em></li>
   <li><a href="https://github.com/bogenpirat/remote-torrent-adder">Remote Torrent Adder</a> - <em>Easily Send Torrents to Client</em> </li>
   <li><a href="http://demagnetize.link/">Demagnetize</a> - <em>Turn Magnets into Direct Downloads / 200mb or less only</em></li>
</ul>
<hr>
<h2 id="-webtorrent-clients">▷ WebTorrent Clients</h2>
<ul>
   <li><strong><a href="https://www.seedr.cc/">Seedr</a></strong></li>
   <li><strong><a href="https://webtor.io/">webtor</a></strong></li>
   <li><a href="https://weboas.is/torrent/">WebOasis Client</a> </li>
   <li><a href="https://instant.io/">Instant.io</a></li>
   <li><a href="https://btorrent.xyz/">BTorrent</a></li>
   <li><a href="https://torrents-time.com/">Torrents Time</a></li>
   <li><a href="https://bitport.io/welcome">Bitport</a> </li>
   <li><a href="https://www.torrentsafe.com/">TorrentSafe</a></li>
   <li><a href="https://filestream.me/">FileStream</a></li>
   <li><a href="https://zbigz.com/">ZBIGZ</a></li>
   <li><a href="https://ferrolho.github.io/magnet-player/">Magnet Player</a> - <em>Stream Torrents in Browser</em></li>
   <li><a href="https://www.jstorrent.com/">JSTorrent</a> - <em>Chrome</em></li>
   <li><a href="https://github.com/astro/bitford">BitFord</a> - <em>Chrome</em></li>
</ul>
<hr>
<h2 id="-android-clients-https-www-reddit-com-r-freemediaheckyeah-wiki-android-wiki_-25ba_android_torrenting-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_.25BA_android_torrenting">Android Clients</a></h2>
<hr>
<h1 id="-torrent-sites">► Torrent Sites</h1>
<ul>
   <li><strong><a href="https://dirtywarez.org/cat/tracker">Torrent Site Rankings</a></strong> - <em>alexa rankings</em></li>
   <li><strong><a href="https://1337x.to/">1337</a></strong> - <em>Video / Audio / Games / Software / NSFW / <a href="https://1337x.proxyserver.cf/">Proxy</a>, <a href="https://1337x.iamproxy.gq/">2</a> / <a href="https://1337x.to/about">Mirrors</a> / <a href="https://github.com/brandongallagher1999/1337x-Bot">Discord Bot</a></em></li>
   <li><strong><a href="https://rarbg.to">RarBG</a></strong> - <em>Video / Audio / Games / Software / NSFW / <a href="https://github.com/verybada/rarbgapi">Python Interface</a> / <a href="https://greasyfork.org/en/scripts/29661-rarbg-advanced-filters">Advanced Filters</a> / <a href="https://greasyfork.org/en/scripts/23493-rarbg-torrent-and-magnet-links">Add Links</a> / <a href="https://rarbg.proxyserver.cf/index80.php">Proxy</a>, <a href="https://rarbg.iamproxy.gq/index80.php">2</a></em></li>
   <li><strong><a href="http://rutracker.org">RuTracker</a></strong> - <em>Video / Audio / Games / Software / Android / Comics / Magazines / <a href="http://rutrackerripnext.onion/">Onion</a> / <a href="https://t.me/ru_tracker_bot">Telegram Bot</a></em></li>
   <li><a href="https://torrentgalaxy.to/">TorrentGalaxy</a> - <em>Video / Audio / Games / Software / NSFW / <a href="https://proxygalaxy.pw/">Mirrors</a>, <a href="https://torrentgalaxy.org/">2</a></em></li>
   <li><a href="https://www.demonoid.is/">Demonoid</a> - <em>Video / Audio / Software / Games / Books / Comics</em></li>
   <li><a href="http://pirateiro.com">Pirateiro</a> - <em>Video / Audio / Games / Roms / Software / Android / Books / Comics / NSFW</em></li>
   <li><a href="https://www.ettvcentral.com/">ETTV</a> - <em>Video / Audio / Games / Software / Books / NSFW/ <a href="https://ettvproxies.com/">Proxies</a></em></li>
   <li><a href="https://glodls.to">GloTorrents</a> - <em>Video / Audio / Games / Books / Software / Android / NSFW</em></li>
   <li><a href="https://www.magnetdl.com/">MagnetDL</a> - <em>Video / Audio / Games / Software / Books</em></li>
   <li><a href="https://ww3.yggtorrent.si/">YggTorrent</a> - <em>Video / Audio / Roms / Software / Books / Android / Comics</em></li>
   <li><a href="https://www.limetorrents.info/">LimeTorrents</a> - <em>Video / Audio / Software / Games / Books</em></li>
   <li><a href="https://extratorrent.si/">ExtraTorrent</a> - <em>Video / Audio / Software / Games / Android / Books / NSFW</em>  </li>
   <li><a href="https://yourbittorrent.com/">YourBittorrent</a>, <a href="https://yourbittorrent2.com/">2</a> - <em>Video / Audio / Software / Games / Books / NSFW</em></li>
   <li><a href="https://prostylex.org/">ProStyleX</a> - <em>Video / Audio / Books / Games / Software / NSFW</em>  </li>
   <li><a href="http://isohunt.ee/">IsoHunt</a>, <a href="https://isohunts.to/">IsoHunts</a> or <a href="https://isohunt.nz/">IsoHunt.nz</a> - <em>Video / Audio / Games / Software / Books</em></li>
   <li><a href="https://ext.to/">ExT</a> - <em>Video / Audio / Games / Software / Books</em></li>
   <li><a href="http://rutor.info">rutor.info</a> or <a href="http://rutor.is/">rutor.is</a> - <em>Video / Audio / Games / Software / Books / Roms / Magazines</em></li>
   <li><a href="https://nnmclub.to/">NNM-Club</a> - <em>Video / Audio / Software / Games</em></li>
   <li><a href="http://p2pdl.com/">P2PDL</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="http://www.legittorrents.info/">Legit Torrents</a> - <em>Video / Audio / Software / Books</em> </li>
   <li><a href="https://otorrents.com/">OTorrents</a> - <em>Video / Games</em></li>
   <li><a href="http://85.143.175.243/">BitLord Power Search</a> - <em>BitLord Browser Search</em> </li>
   <li><a href="https://infogalactic.com/info/Tigole#Getting_Tigole_torrents">Tigole</a> - <em>Torrent Index</em></li>
   <li><a href="https://vstorrent.org/">VSTorrent</a> - <em>Software</em></li>
   <li><a href="https://ftuapps.dev/">FTUApps</a> - <em>Software</em> </li>
   <li><a href="https://fost.ws/">Fost.ws</a> - <em>Software / <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Translator</a></em></li>
   <li><a href="https://mac-torrents.io/">Mac-Torrents.io</a> - <em>Software / Games / Mac</em></li>
   <li><a href="https://www.torrentmac.net/">Mac Torrents</a> - <em>Software / Games / Mac</em></li>
   <li><a href="https://audionews.org/">AudioNews</a> - <em>Audio Software</em> </li>
   <li><a href="http://w14.monkrus.ws/">m0nkrus</a> - <em>Adobe software archive</em></li>
   <li><a href="https://upawg.ca">upawg</a> - <em>Index of audio products</em></li>
   <li><a href="https://duckduckgo.com/?q=site%3At.me+torrent&amp;ia=web">Telegram Torrents</a> - <em>Telegram Torrent Channels</em></li>
   <li><a href="https://t.me/TorrentLeechingGroup">Torrent Leeching Group</a> - <em>Torrent Leeching Groups / Telegram</em> </li>
   <li><a href="http://127.0.0.1:43110/ZeroTorrent.bit/">ZeroTorrent</a> - <em><a href="https://zeronet.io/">ZeroNet Required</a> / Video / Audio / Software / Games</em></li>
   <li><a href="https://boards.4chan.org/t/">4chan /t/</a> - <em>Torrents / Imageboard / Some NSFW</em> </li>
   <li><a href="https://8kun.top/t/index.html">8kun /t/</a> - <em>Torrents / Imageboard <a href="http://jthnx5wyvjvzsxtu.onion/t/">.onion</a></em> </li>
</ul>
<hr>
<h2 id="-search-sites">▷ Search Sites</h2>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:0led5tukccj">Torrent Sites Search</a></strong> / <a href="https://cse.google.com/cse?cx=006516753008110874046:kh3piqxus6n">Torrent Sites 2</a></li>
   <li><strong><a href="https://torrentz2eu.me/">Torrentz2</a></strong> - <em>Magnet Search / <a href="http://torrentzwealmisr.onion/">Onion</a> / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_torrentz2_magnet_links">Add Magnet Links</a></em></li>
   <li><strong><a href="https://filelisting.com">FileListing</a></strong> - <em>Magnet Search</em></li>
   <li><strong><a href="https://snowfl.com/">snowfl</a></strong> - <em>Search aggregator</em></li>
   <li><strong><a href="https://knaben.net/">Knaben</a></strong> - <em>Search aggregator</em></li>
   <li><a href="https://zooqle.com/">Zooqle</a> - <em>Search aggregator</em></li>
   <li><a href="https://idope.se">iDope</a> - <em>Search aggregator</em></li>
   <li><a href="https://torrent-finder.com/">Torrent Finder</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.torrentdownload.info/">TorrentDownload</a> - <em>Search aggregator</em></li>
   <li><a href="https://torrent-paradise.ml/">Torrent Paradise</a> - <em>Search aggregator</em></li>
   <li><a href="https://gonemaweb.ruggieri.tech/">Gonema</a> - <em>Search aggregator</em></li>
   <li><a href="https://torlook.info/">TorLook</a> - <em>Search aggregator</em></li>
   <li><a href="https://2torrentz.net/torrentz/">2Torrentz</a> - <em>Search aggregator</em>  </li>
   <li><a href="https://torrent.tm/">Torrent.tm</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.toros.co/">Toros</a> or <a href="https://www.toros2.com/">Toros2</a> - <em>Search aggregator</em></li>
   <li><a href="https://dirtytorrents.com/">Dirty Torrents</a> - <em>Search aggregator</em></li>
   <li><a href="https://torrentquest.com/">TorrentQuest</a> - <em>Search aggregator</em></li>
   <li><a href="http://torrenthound.ee/">TorrentHound</a> - <em>Search aggregator</em></li>
   <li><a href="https://torrends.to/">Torrends </a> - <em>Search aggregator</em> </li>
   <li><a href="https://btdb.eu/">BTDB</a> - <em>Search aggregator</em></li>
   <li><a href="https://btmet.com/">BTMET</a> - <em>Magnet Search</em></li>
   <li><a href="https://bt4g.org/">BT4G</a> - <em>Magnet Search</em></li>
   <li><a href="https://bitcq.com/">BITCQ</a> - <em>Magnet Search</em></li>
   <li><a href="https://torrent.nz/">Torrent.nz</a> - <em>Magnet Search</em> </li>
   <li><a href="https://torrentproject2.com/">TorrentProject2</a> - <em>Magnet Search</em></li>
   <li><a href="http://ciligou0.com/">ciligou0</a> - <em>Magnet Search</em> </li>
   <li><a href="https://torrenthashes.com/">TorrentHashes</a> - <em>Magnet Search</em> </li>
   <li><a href="http://www.bittorrent.am/">Bittorrent.am</a> - <em>Magnet Search</em></li>
   <li><a href="https://www.torrentdownloads.me/">TorrentDownloads</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.torlock.com/">Torlock</a> or <a href="https://www.torlock2.com/">Torlock2</a> - <em>Search aggregator</em></li>
   <li><a href="https://ibit.to">iBit.to</a> or <a href="https://ibit.am/">iBit.am</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.torrentfunk.com/">TorrentFunk</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.skytorrents.lol">SkyTorrents</a> - <em>Search aggregator</em></li>
   <li><a href="https://badasstorrents.com">Badass Torrents</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.7torrents.cc/">7Torrent</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.concen.org/torrents">concen</a> - <em>Search aggregator</em></li>
   <li><a href="https://www.btsearch.ml/">BTSearch</a> - <em>Multi site search</em> </li>
   <li><a href="https://solidtorrents.net/">Solid Torrents</a> - <em>Multi site search / /r/SolidTorrents</em></li>
   <li><a href="https://torrentseeker.com">TorrentSeeker</a> - <em>Multi site search</em></li>
   <li><a href="https://www.torrentzeta.com/">Torrentzeta</a> - <em>Multi site search</em></li>
   <li><a href="http://www.toorgle.com/">Toorgle</a> - <em>Multi site search</em> </li>
   <li><a href="https://torrents-csv.ml/#/">Torrents.csv</a> - <em>Torrent csv Search</em></li>
   <li><a href="https://btdig.com/index.htm">BTDigg</a> - <em>Torrent DHT Search Engine</em></li>
   <li><a href="https://github.com/boramalper/magnetico">magnetico</a> or <a href="https://github.com/sergiotapia/torrentinim">Torrentinim</a> - <em>Self Hosted Torrent Search Engine</em></li>
   <li><a href="http://veoble.com/torrent/">Veoble</a> - <em>Multi Site Search</em> </li>
   <li><a href="https://t.me/torrentsearcher_bot">torrentsearcher_bot</a>, <a href="https://t.me/torrenthuntbot">torrenthuntbot</a> or <a href="https://t.me/FDTorrentSearchBot">FDTorrentSearchBot</a> - <em>Telegram Torrent Search Bot</em> </li>
</ul>
<hr>
<h2 id="-video-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-video-wiki_-25ba_torrent_sites-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/video#wiki_.25BA_torrent_sites">Video Sites</a></h2>
<hr>
<h2 id="-anime-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-video-wiki_-25b7_anime_torrenting-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/video#wiki_.25B7_anime_torrenting">Anime Sites</a></h2>
<hr>
<h2 id="-educational-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-video-wiki_-25b7_educational_torrenting-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/video#wiki_.25B7_educational_torrenting">Educational Sites</a></h2>
<hr>
<h2 id="-game-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-games-wiki_-25ba_torrent_games-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/games#wiki_.25BA_torrent_games">Game Sites</a></h2>
<hr>
<h2 id="-audio-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-audio-wiki_-25ba_audio_torrenting-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/audio#wiki_.25BA_audio_torrenting">Audio Sites</a></h2>
<hr>
<h1 id="-tracker-invites">► Tracker Invites</h1>
<ul>
   <li><strong><a href="https://wiki.installgentoo.com/wiki/Private_trackers">Private Trackers Guide</a></strong> </li>
   <li>/r/OpenSignups </li>
   <li>/r/Invites </li>
   <li><a href="https://www.myanonamouse.net/">MyAnonaMouse</a> - <em>Open Applications</em></li>
   <li><a href="https://cinemaz.to/auth/register">CinemaZ</a> - <em>Movies / TV / Open Registrations</em></li>
   <li><a href="https://avistaz.to/auth/register">AvistaZ</a> - <em>Asian Movies / TV / Open Registrations</em></li>
   <li><a href="http://xtremewrestlingtorrents.net/">XtremeWrestlingTorrents</a> - <em>Wrestling Private Tracker / Open Registrations</em></li>
   <li><a href="http://torrentinvites.org/f37/">Torrent Invites</a> - <em>Open Tracker Invites / Forum</em></li>
   <li><a href="https://torrentinvites.net/">TorrentInvites</a> - <em>Open Tracker Invites / Forum</em> </li>
   <li><a href="https://www.invitehawk.com/forum/44-open-signup-tracker-updates/">InviteHawk</a> - <em>Open Tracker Invites / Forum</em> </li>
   <li><a href="https://t.me/opensignup">Open for Signup</a> - <em>Open Signups Private Trackers / Telegram</em></li>
   <li><a href="https://bemaniso.ws/">Bemaniso</a> - <em>Torrent Tracker / <a href="https://github.com/doggo404/sowsbetter">Auto Transcode / Upload</a></em></li>
</ul>
<hr>
<h1 id="-helpful-sites-apps">► Helpful Sites / Apps</h1>
<ul>
   <li><strong><a href="https://redd.it/hbwnb2">Auto Torrent Tools</a></strong> or /r/softwarr - <em>Autodownload tools</em></li>
   <li><strong><a href="https://nutbread.github.io/t2m/">T2M</a></strong> or <a href="https://www.torrentkitty.tv/">Torrent Kitty</a> - <em>Torrent To Magnet Link Conversion</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_tracker_lists">Tracker Lists</a></strong> - <em>Updated lists of BitTorrent trackers</em> </li>
   <li><a href="https://predb.ovh/">PreDB</a>, <a href="https://www.srrdb.com/">srrDB</a> or <a href="http://pre.c-burns.co.uk/pre.php">pre.c-burns</a> - <em>Scene Release Tracker</em></li>
   <li><a href="https://github.com/enzobes/WarezBot">WarezBot</a> - <em>Discord Scene Release Tracker</em></li>
   <li><a href="https://btcache.me/">btcache</a>, <a href="https://itorrents.org">iTorrents</a> or <a href="https://torrage.info/">Torrage</a> - <em>Torrent Storage Cache</em></li>
   <li><a href="https://checker.openwebtorrent.com/">WebTorrent Checker</a> - <em>Check Health of a Torrent</em></li>
   <li><a href="http://mgnet.me/">mgnet</a> - <em>Magnet Link Shortener</em></li>
   <li><a href="https://github.com/pedrolemoz/MagicMagnet">MagnetLinkCatcher</a> - <em>Magnet Link Catcher / App</em></li>
   <li><a href="https://autodl-community.github.io/autodl-irssi/">AutoDL-Irssi</a> - <em>IRC Channel Monitor / Autodownload / <a href="https://gist.github.com/Igglybuff/00d5e91274a562ac724d358bbbc8bc7b">Slack Notifications</a></em> </li>
   <li><a href="https://privtracker.tk/">PrivTracker</a> - <em>Private BitTorrent Tracker Generator / <a href="https://github.com/meehow/privtracker">GitHub</a></em> </li>
   <li><a href="https://www.anonseed.com/">AnonSeed</a> - <em>Anonymous Torrent Sharing</em> </li>
   <li><a href="http://torrenteditor.com/">Torrent Editor</a> or <a href="https://torrent.parts/">Torrent Parts</a> - <em>Edit Torrents Files</em></li>
   <li><a href="https://github.com/GerryFerdinandus/bittorrent-tracker-editor">bittorrent-tracker-editor</a> - <em>Add or Remove Trackers from Torrent Files</em></li>
   <li><a href="https://github.com/Rudde/mktorrent">mktorrent</a> - <em>Command Line to Create BitTorrent Metainfo Files</em> </li>
   <li>/r/torrents - <em>Torrenting discussion sub</em></li>
   <li>r/VPNTorrents - <em>For Discussion of Torrenting over VPNs</em></li>
</ul>
</div>
</template>
<script>
export default {
  name: 'tor'
}
</script>

<style>

</style>